.aboutUsItem 
  display: flex 
  min-height: 240px 
  flex-direction: column
  justify-content: space-between
  border-left: 1px solid $light-grey
  padding-left: 24px
  opacity: 0 
  transition: all 0.3s linear 
  transition-delay: 0.4s

  &.active
    opacity: 1 

  &__name 
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 12px
    line-height: 1.16
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $black
    padding-bottom: 24px
  
  &__text 
    font-weight: 400
    font-size: 18px
    line-height: 1.44
    color: $black

  img 
    display: block
    max-width: 48px
    max-height: 48px

    &.-hidden-on-desktop 
      display: none

      +max($bp-md)
        display: block
  
  &__number 
    color: $blue
    font-weight: 400
    font-size: 24px
    line-height: 1.2

    &.-hidden-on-mobile
      +max($bp-md)
        display: none

  &__top
    padding-bottom: 24px