.aboutUsItem 
  .aboutUsItem__top
    .aboutUsItem__name workers
    .aboutUsItem__text Exposure to the talent pool of more than 40,000 workers.
  .aboutUsItem__number.-hidden-on-mobile 40,000
  img.-hidden-on-desktop(src="assets/images/about-us-settings.svg" alt="")