.autocompleteSF
  width: 100%
  position: relative

  &__list
    position: absolute
    top: 100%
    left: 0
    width: 100%
    z-index: 1000

  &__item
    display: block
    color: $black-22
    font-size: 14px
    line-height: 1.2
    padding: 8px 12px
    background-color: $gallery
    cursor: pointer
    width: 100%

    &:nth-child(even)
      background-color: $half-white

    &:hover
      background-color: $grey-c4
