@font-face {
  font-family: 'Gotham Medium';
  src: url('Gotham-Medium.eot');
  src: local('Gotham-Medium'), local('Gotham-Medium'),
    url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Medium.woff2') format('woff2'),
    url('path/Gotham-Medium.otf') format('opentype'),
    url('../fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('Gotham-Book.eot');
  src: local('Gotham-Book'), local('Gotham-Book'),
    url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('path/Gotham-Book.otf') format('opentype'),
    url('../fonts/Gotham-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('Gotham-Light.eot');
  src: local('Gotham-Light'), local('Gotham-Light'),
    url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Light.woff2') format('woff2'),
    url('path/Gotham-Light.otf') format('opentype'),
    url('../fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('Gotham-Bold.eot');
  src: local('Gotham-Bold'), local('Gotham-Bold'),
    url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Bold.woff2') format('woff2'),
    url('path/Gotham-Bold.otf') format('opentype'),
    url('../fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Black';
  src: url('Gotham-Black.eot');
  src: local('Gotham-Black'), local('Gotham-Black'),
    url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Black.woff2') format('woff2'),
    url('path/Gotham-Black.otf') format('opentype'),
    url('../fonts/Gotham-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/*@font-face {
  font-family: 'Almarai Regular';
  src: url('Almarai-Regular.ttf');
  src: local('Almarai-Regular'),
    url('../fonts/Almarai-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}*/

@font-face {
  font-family: 'MarkaziText';
  src: url('MarkaziText-Bold.ttf');
  src: local('MarkaziText-Bold'),
    url('../fonts/MarkaziText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Brix Sans';
  src: url('../fonts/Brix-Sans.eot');
  src: url('../fonts/Brix-Sans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Brix-Sans.woff2') format('woff2'),
    url('../fonts/Brix-Sans.woff') format('woff'),
    url('../fonts/Brix-Sans.ttf') format('truetype'),
    url('../fonts/Brix-Sans.svg#Brix Sans') format('svg');
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('SuisseIntl-SemiBold.ttf');
  src: local('SuisseIntl-SemiBold'),
    url('../fonts/SuisseIntl-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('SuisseIntl-Medium.ttf');
  src: local('SuisseIntl-Medium'),
    url('../fonts/SuisseIntl-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('SuisseIntl-Regular.ttf');
  src: local('SuisseIntl-Regular'),
    url('../fonts/SuisseIntl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
