body.rtl

  +font-almarai

  #fc_frame
    right: 15px !important
    left: auto !important

    +max($bp-md)
      right: auto !important
      left: 15px !important
      bottom: 8px !important


  .header__searchButton
    margin-left: 10px
    margin-right: 35px
    flex-direction: row-reverse

  .banner__shape
    transform: scale(-1, 1) translate(-100%, 100%)
    left: auto
    right: 0

    +max($bp-lg)
      transform: scale(-0.6, 0.6) translate(-140%, 140%)


  .banner__shape.active
    transform: scale(-1, 1)
    +max($bp-lg)
      transform: scale(-0.6, 0.6) translate(-40%, 40%)

  .banner.-withoutScaling .banner__photoInBg
    +max($bp-md)
      transform: translateX(8%)

  .banner__circle
    margin-left: 20px
    margin-right: 0

  .banner__playButton
    top: 120px

    +max($bp-md)
      top: 91px

  .contactCircles__circle
    margin-left: 0
    margin-right: 10px

    +max($bp-md)
      &.-openForm
        margin-right: -19px
        margin-left: 10px

  .contactCircles__circleBox
    +max($bp-md)
      right: 19px

      &.-sticky
        .contactCircles__circle
          margin-right: 0

  .contactCircles
    right: auto
    left: 19px

  +max($bp-md)
    .contactCircles__circle.-grey
      margin-right: 24px


  .contactCircles__info:after
    right: auto
    left: -5px
    transform: translateY(-50%) scale(-1,1)

  .callBox__button:before
    margin-right: 0
    margin-left: 10px

  .callBox__whatsApp
    margin-left: 0

  .callBox__link.-whatsApp
    margin-right: 8px

  .aboutUsItem
    padding-left: 0
    padding-right: 24px
    border-left: 0
    border-right: 1px solid $light-grey

  .zcwf_col_lab
    width: 100%
    text-align: right

    label
      display: flex
      flex-direction: row-reverse

  .joinOurVipList__right .zcwf_privacy
    flex-direction: row-reverse

  .joinOurVipList__right .newCustomchkbox-md
    margin-left: 11px

  .joinOurVipList__list
    padding-left: 0
    padding-right: 28px

  .joinOurVipList__list li::before
    display: inline-block
    position: absolute
    content: "\2022"
    color: $purple
    font-weight: bold
    right: 0

  input
    text-align: right !important

    &[type=submit]
      text-align: center !important

    &[type=button]
      text-align: center !important


  .footer__text
    padding-left: 30px

    +max($bp-md)
      padding-left: 15px


  .newsletter__form form
    display: flex
    align-items: center

  .callBox
    right: auto
    left: 0

    &:after
      right: auto
      left: 0
      transform: scale(-1, 1)

    +max($bp-md)
      right: 0
      left: auto

      &:after
        right: 0
        left: auto
        transform: none

  .contactCircles__close
    right: auto
    left: -4px

  .zf-termsAccept
    display: flex
    align-items: center
    padding-right: 50%

  .callBox  .zf-termsAccept
    padding-right: 0

    input[type="checkbox"]
      margin-left: 10px

  .contact__right .zf-termsAccept label
    padding-right: 11px
    margin-left: 0

  .header__iconMobile
    margin-right: 32px
    margin-left: 0

  .careerInfo__scroll
    left: calc(100% - 152px)

    +max($bp-xxlg)
      left: calc(100% - 76px)


  .imageText__right
    border-left: none
    border-right: 1px solid $light-grey

  .contact__left
    border: 0
    border-right: 1px solid #0000001C
    padding-right: 50px
    padding-left: 0


  .aboutContent__tag
    +font-almarai

  .aboutUs__title
    +font-almarai

  .banner__title
    +font-almarai

  .board__title
    +font-almarai

  .board__info
    +font-almarai
    letter-spacing: -0.02em !important

  .callBox__button
    +font-almarai

  .callBox__link
    +font-almarai

  .zcwf_col_lab
    font-family: "Almarai", sans-serif !important

  .zcwf_col_fld
    font-family: "Almarai", sans-serif !important

  .zcwf_privacy_txt
    font-family: "Almarai", sans-serif !important

  .zcwf_button[type="submit"]
    font-family: "Almarai", sans-serif !important

  .careerInfo__tag
    +font-almarai

  .contact__title
    +font-almarai

  .contact__links
    li
      +font-almarai

  .careerInfo__right
    +font-almarai

  .zf-labelName
    +font-almarai

  .zf_privacy_txt
    +font-almarai

  button.zf-submitColor
    +font-almarai

  .zf-termsAccept label
    +font-almarai

  .footer__listItem
    +font-almarai

  .footer__text
    +font-almarai

  .footer__title
    +font-almarai
    font-size: 18px

  .footer__second_link
    +font-almarai

  .footer__link_url
    letter-spacing: -0.02em !important

  .iconTextGrid__title
    +font-almarai

  .header__searchButton
    +font-almarai

  .imageText__title
    +font-almarai

  .imageText__readMore
    +font-almarai

  .jobsOffers__title
    +font-almarai

  .zrsite_City
    +font-almarai

  .zrsite_Country
    +font-almarai

  .joinOurVipList__title
    +font-almarai

  .joinOurVipList__tag
    +font-almarai

  .mapSection__title
    +font-almarai

  .menu__item
    padding-right: 0
    padding-left: 20px

    &:last-child
      padding-left: 0

    +max($bp-md)
      padding-left: 0

  .menu__link
    +font-almarai

  .menu__subItem
    +font-almarai

  .newsletter__title
    +font-almarai

  .promiseSection__title
    +font-almarai

  .promiseSectionItem__name
    +font-almarai
    font-size: 18px !important

  .textSection__tag
    +font-almarai

  *
    letter-spacing: 0 !important

  .newsletter__form .SIGNUP_FLD input[type="button"]
    font-family: "Almarai", sans-serif !important
    +max($bp-md)
      transform: none

  .newsletter__form .SIGNUP_FLD input[type="text"]
    font-family: "Almarai", sans-serif !important
    font-weight: 400
    font-size: 16px !important
    padding: 15px 20px !important
    line-height: 1.6
    letter-spacing: -0.01em !important

    &::placeholder
      font-weight: 300

  .maps
    &__title
      +font-almarai
    .gm-style-iw-d
      +font-almarai

  .callBox__title
    +max($bp-md)
      font-size: 16px

  .callBox__button
    +max($bp-md)
      font-size: 14px

  .callBox__formPlace .zcwf_col_fld input[type="text"], .callBox__formPlace .zcwf_col_lab label
    +max($bp-md)
      font-size: 16px !important

  .callBox__formPlace .zcwf_privacy_txt
    +max($bp-md)
      font-size: 12px !important

  .callBox__bottom
    +max($bp-md)
      font-size: 12px

  .mapSection
    &__box
      left: auto
      right: 30px

    &__backButton
      margin-right: 0
      margin-left: 10px

      img
        transform: rotate(180deg)

      .mapSection__box.-open &
        margin-left: 0

        img
          transform: none

    &__boxTag
      +font-almarai

    &__filtersButton
      &::before
        margin-right: 0
        margin-left: 8px

    &__filtersCount
      margin-left: 0
      margin-right: 3px

      &::before
        margin-right: 0
        margin-left: 3px

    &__mapPlace

      +max($bp-md)
        transform: translateX(0%)

      +max($bp-xs)
        transform: translateX(0%)


  .footer__socials
    &:not(:empty)
      margin-right: 0px
      margin-left: 30px

  .footer__social
    margin-right: 0px
    margin-left: 30px

  .logos__title
    +font-almarai


  .contactButtons
    right: auto
    left: 19px
    &.-sticky
      +max(1600)
        left: 100px
      +max($bp-xxlg)
        left: 24px
    &__button
      +font-almarai
      &.-vip
        margin-left: 0
        margin-right: 10px

  .tabs
    &__item
      +font-almarai
      &:not(:first-child)
        margin-left: 0
        margin-right: 1px
    &.-sticky
      .tabs__scrollWatcher
        .tabs__trigger
          +font-almarai
          img
            margin-left: 0
            margin-right: 8px
        .tabs__list
          padding-right: 0
          padding-left: 350px
          +max($bp-sm)
            padding-left: 0
        .tabs__item
          &:not(:first-child)
            margin-left: 0
            margin-right: 80px
            +max($bp-xlg)
              margin-left: 0
              margin-right: 40px
            +max($bp-md)
              margin-right: 0

  .textList
    &__tag
      +font-almarai
    &__tag2
      +font-almarai
    &__list
      padding-left: 0
      padding-right: 28px
      li::before
        right: 0

  .interactiveMap
    &__title
      +font-almarai

  .homesGrid
    &__title
      +font-almarai
    &__name
      +font-almarai
    &__view
      +font-almarai

  .floorPlan
    &__title
      +font-almarai
      font-weight: 700
    &__tag
      +font-almarai
    &__button
      +font-almarai
      margin-left: 0
      &:not(:first-child)
        margin-right: 80px
      +max($bp-md)
        &:not(:first-child)
          margin-right: 40px
      +max($bp-sm)
        &:not(:first-child)
          margin-right: 20px

    &__list
      padding-left: 0
      padding-right: 28px
      li::before
        right: 0

  .investmentGallery
    &__title
      +font-almarai
      font-weight: 700

  .projectsGallery
    &__title
      +font-almarai
    &__bottomItem
      +font-almarai
      &:not(:last-child)
        margin-right: 0
        margin-left: 20px
        &::after
          margin-left: 0
          margin-right: 20px

    &__nav
      &.-prev
        left: auto
        right: 0
        transform: translate(100%, -50%)
        +max($bp-xlg)
          transform: translate(50%, -50%)
        +max($bp-sm)
          transform: translateY(-50%)
        img
          transform: none

      &.-next
        right: auto
        left: 0
        transform: translate(-100%, -50%)
        +max($bp-xlg)
          transform: translate(-50%, -50%)
        +max($bp-sm)
          transform: translateY(-50%)
        img
          transform: rotate(180deg)

  .search

    &__button
      &.-desktop
        margin-right: 0
        margin-left: 10px
        padding: 11px 25px 11px 15px

        &::after
          margin-left: 0
          margin-right: 10px

      &.-mobile
        margin-left: 0
        margin-right: 32px

  .searchOffCanvas
    &__mapButton
      margin-right: 0
      margin-left: 15px

      +max($bp-md)
        margin-left: 0

    &__button
      &::before
        margin-right: 0
        margin-left: 8px

    &__inputPlace
      margin-left: 0
      margin-right: 15px

      +max($bp-md)
        margin-right: 0

    &__input
      border-right: 1px solid $light-grey
      border-left: none
      padding-left: 52px
      padding-right: 16px

    &__searchButton
      border-left: 1px solid $light-grey
      border-right: none
      left: 1px
      right: auto

  .searchMap
    &__box
      left: auto
      right: 30px

    &__backButton
      margin-right: 0
      margin-left: 10px

    &__filtersButton
      &::before
        margin-right: 0
        margin-left: 8px

    &__filtersCount
      margin-left: 0
      margin-right: 3px

      &::before
        margin-right: 0
        margin-left: 3px

  .searchFiltersModal
    &__bar
      .noUi-origin
        right: auto
        left: 17px

    &__tip
      &::before
        content: "SAR"

    &__numberButton
      &:first-child
        border-right: 1px solid $light-grey
        border-left: none

      &:last-child
        border-left: 1px solid $light-grey
        border-right: none

    &__numberInput
      text-align: center !important

    &__clear
      &::before
        margin-right: 0
        margin-left: 8px

    &__result
      margin-right: 0
      margin-left: 25px

    &__resultCount
      flex-direction: row-reverse

  .cityFilters
    &__label
      +font-almarai
      margin-right: 0
      margin-left: 10px

      +max($bp-xlg)
        margin-left: 0

    &__select
      +font-almarai

      & + .select2
        .select2-selection
          padding-left: 20px
          padding-right: 12px

    &__bar
      .noUi-origin
        right: auto
        left: 17px

  .cityResults
    &__title
      +font-almarai

    &__label
      +font-almarai
      margin-right: 0
      margin-left: 10px

    &__count
      margin-right: 0
      margin-left: 25px

    &__countNumber
      margin-left: 0
      margin-right: 3px

    &__select
      +font-almarai

      & + .select2
        .select2-selection
          padding-left: 20px
          padding-right: 12px

    &__switch
      &:not(:last-child)
        border-right: 1px solid $light-grey
        border-left: 0

    &__itemTitle
      +font-almarai

    &__button
      +font-almarai

    &__right
      margin-left: 0
      margin-right: 30px

  .mapSectionModal
    &__bar
      .noUi-origin
        right: auto
        left: 17px

    &__tip
      &::before
        content: "SAR"

    &__numberButton
      &:first-child
        border-right: 1px solid $light-grey
        border-left: none

      &:last-child
        border-left: 1px solid $light-grey
        border-right: none

    &__numberInput
      text-align: center !important

    &__clear
      &::before
        margin-right: 0
        margin-left: 8px

    &__result
      margin-right: 0
      margin-left: 25px

    &__resultCount
      flex-direction: row-reverse

  .textListNarrow

    &__title
      +font-almarai

    &__tag
      +font-almarai

    &__list
      padding-left: 0
      padding-right: 28px

      li::before
        display: inline-block
        position: absolute
        content: "\2022"
        color: $purple
        font-weight: bold
        right: 0


// other styles - not rtl

.elementor__container
  padding-top: 140px
  max-width: 100vw
  overflow: hidden

  +max($bp-md)
    padding-top: 90px

.scale-2
  transform: scale(2) translateY(17%)


.audio-track--black .plyr--audio .plyr__controls
  background: rgba(65,122,190,1)
  border-radius: 10px

.audio-track--white .plyr--audio .plyr__controls
  background: rgba(30, 152, 138, 0.9)
  border-radius: 10px

.tilalLifeNewsletter
  text-align: center

  &__input
    width: 100%
    border-radius: 10px
    border: 0
    background-color: $white
    font-size: 14px
    padding: 13px !important
    font-family: inherit

  &__button
    -webkit-appearance: none
    background: #209a8b
    color: rgba(255,255,255,0.95)
    border: 1px solid rgba(255,255,255,0.95)
    padding: 12px 28px
    border-radius: 10px
    font-size: 14px
    font-family: inherit

.order-mobile
  +max($bp-xs)
    order: 2
    margin-top: 20px

.post-password-form
  max-width: 800px
  margin: 0 auto
  padding: 100px 20px 40px 20px
  font-size: 16px
  line-height: 1.5

  p
    margin-bottom: 16px

  input[type="submit"]
    -webkit-appearance: none
    background: $purple
    color: rgba(255,255,255,0.95)
    border: 1px solid $purple
    padding: 10px 28px
    border-radius: 10px
    font-size: 14px
    font-family: inherit

    +max($bp-xs)
      width: 100%
      text-align: center


  input[type="password"]
    -webkit-appearance: none
    border-radius: 10px
    border: 1px solid rgba(0,0,0,0.55)
    background-color: $white
    font-size: 14px
    padding: 10px !important
    font-family: inherit
    margin: 0px 10px

    +max($bp-xs)
      width: 100%
      margin: 10px 0px



#fc_frame
  right: auto !important
  left: 15px !important
  z-index: 1000 !important

  +max($bp-md)
    bottom: 8px !important
