@charset "UTF-8"

//- WEBSITE FONTS
//==========================================================================
//@import url("https://fonts.googleapis.com/css?family=Teko:300,400,500,700&amp;subset=latin-ext")

//@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap')

=font-gotham
  font-family: "Gotham", sans-serif

=font-material-icons
  font-family: "Material Icons"

=font-markiz
  font-family: "MarkizText", sans-serif

=font-almarai
  font-family: "Almarai", sans-serif

body
  +font-gotham
  +rem(font-size, 14px)

  font-weight: 400
  line-height: 1.2
