.header
  display: block
  position: absolute
  top: 0%
  width: 100%
  z-index: 102
  background-color: transparent
  transition: all 0.2s linear

  &__container
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    max-width: 100%
    padding: 40px 50px
    margin: 0 auto
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

    +max($bp-xxlg)
      padding: 25px 25px 25px 34px

  &__logo
    display: block
    max-width: 117px
    cursor: pointer
    position: relative

    &:hover
      transform: scale(1.02)

    img
      max-width: 100%

    .-second
      display: none

    +max($bp-md)
      max-width: 100px

  &__mobile
    display: none
    align-items: center

    +max($bp-md)
      display: flex

  &__iconMobile
    display: block
    margin-left: 32px

    &.-menuOpen
      width: 30px
      height: 30px
      background-image: url("../images/menubar.svg")
      background-position: center center
      background-repeat: no-repeat

      &.-open
        background-image: url("../images/close.svg")

  &__right
    display: flex
    align-items: center

    +max($bp-md)
      width: 100%
      flex-direction: column
      align-items: flex-start
      bottom: 200%
      top: -200%
      padding: 0px 25px
      opacity: 0
      transition: all 0.4s linear
      background-color: $white
      position: fixed
      left: 0

      &.-visible
        top: 86px
        bottom: 0
        opacity: 1

  &__toggleL
    display: block
    position: relative

    +max($bp-md)
      display: none

    &:hover
      .header__flag
        background-color: $white
      .header__flag.-hidden
        display: block

      .header__flag:hover
        background: $gallery

  &__buttons
    display: flex
    align-items: center

  &__flag
    display: block
    position: static
    border: 1px solid $light-grey-opacity
    padding: 13px 19px
    cursor: pointer

    img
      max-width: 18px
      object-fit: contain

    &.-hidden
      display: none
      position: absolute
      top: 100%



  &.-whiteBg
    position: fixed
    background-color: $white
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1)

    .header__container
      padding-top: 10px
      padding-bottom: 10px

    .menu__link
      color: $black-22

    .menu__item
      +max($bp-md)
        border-bottom: 1px solid $light-grey

    .menu__subItem
      color: $black-22

    .header__iconMobile.-menuOpen
      background-image: url("../images/menubar-grey.svg")
      &.-open
        background-image: url("../images/close-grey.svg")

    .header__logo
      .-first
        display: none
      .-second
        display: block

  &.-alwaysWhite
    background-color: $white

    .menu__link
      color: $black-22

    .menu__item
      +max($bp-md)
        border-bottom: 1px solid $light-grey

    .menu__subItem
      color: $black-22

    .header__iconMobile.-menuOpen
      background-image: url("../images/menubar-grey.svg")
      &.-open
        background-image: url("../images/close-grey.svg")

    .header__logo
      .-first
        display: none
      .-second
        display: block

  &.-openMobileMenu
    .header__container
      padding-top: 25px
      padding-bottom: 25px


.wpml-ls-legacy-dropdown
  width: auto

.wpml-ls-legacy-dropdown .wpml-ls-item
  display: block
  position: static
  border: 1px solid rgba(233,233,233,0.501961)
  cursor: pointer

.wpml-ls-legacy-dropdown
  width: auto !important


.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle::after
  border: none !important

.wpml-ls-legacy-dropdown a
  border: none !important
  background-color: transparent !important
  padding: 13px 19px !important

.header__toggleL:hover .header__flag:hover
  background: #eaeaea

.header__toggleL:hover .wpml-ls-legacy-dropdown .wpml-ls-item:hover
  background: #eaeaea

.header__toggleL:hover .wpml-ls-legacy-dropdown .wpml-ls-item:hover
  background: #eaeaea
