header.header
  .header__container
    a.header__logo(href="#" title="go to main page")
      img.-first(src="assets/images/logo.svg" alt="")
      img.-second(src="assets/images/logo-color.svg" alt="")
    .header__mobile
      include ../search/search
      .header__iconMobile.-menuOpen
    .header__right
      include ../menu/menu
      .header__buttons
        include ../search/search
        .header__toggleL
          .header__flag
            img(src="assets/images/english.png")
          .header__flag.-hidden
            img(src="assets/images/secondLanguage.png")
include ../searchOffCanvas/searchOffCanvas
include ../searchMap/searchMap
include ../searchFiltersModal/searchFiltersModal
