.buttonSection
  +container
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 100px

  +max($bp-md)
    margin-bottom: 40px

  &__button
    padding: 16px 36px
    background-color: $purple
    border-radius: 8px
    color: $white
    font-size: 14px
    line-height: 18px
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

  &__popup
    display: flex
    align-items: center
    justify-content: center
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    background: $black-half-opacity
    overflow: hidden
    z-index: 1001
    transition: all 0.3s linear

    &.-close
      z-index: -1
      visibility: hidden
      opacity: 0

      .buttonSection__popupBox
        transform: translateY(-100%)

    iframe
      &.-hidden
        display: none

  &__placeholder
    position: absolute
    top: 15px
    left: 50%
    transform: translateX(-50%)
    width: 100%
    max-width: 830px
    height: calc(100% - 30px)
    margin: 0 auto
    background-color: #F1F1F1
    border-radius: 33px
    box-shadow: 82px 31px 38px -72px rgb(28, 125, 108)

    &::before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 100px
      height: 100px
      background-image: url('../images/loader.gif')
      background-repeat: no-repeat
      background-position: center center
      background-size: cover

    &.-hidden
      display: none

    +max($bp-sm)
      max-width: 100%
      margin: 0

  &__close
    display: block
    position: absolute
    top: 30px
    right: 30px
    transition: all 0.3s linear
    cursor: pointer

    &:hover
      transform: scale(1.1, 1.1)

  &__popupBox
    display: flex
    width: max-content
    max-width: 100%
    max-height: calc(100% - 60px)
    min-width: 80%
    min-height: 80vh
    overflow-y: auto
    padding: 0px
    transition: all 0.3s linear
    border-radius: 8px
    position: relative

    &::-webkit-scrollbar
      display: none

    & > div
      width: 100%

    .zf-templateWrapper
      border: 0

    .zf-tempHeadContBdr
      background-color: transparent
      padding: 0
      text-align: center

    .zf-tempHeadContBdr .zf-frmTitle
      color: $black
      font-size: 28px

    .zf-templateWidth
      width: 100%

    .zf-tempHeadBdr
      display: none

    .zf-templateWrapper
      border-radius: 0
      border: 0
      box-shadow: none

    .zf-labelName
      padding: 0
      margin: 0
      position: absolute
      top: 50%
      transform: translateY(-50%)
      font-family: "Gotham", sans-serif
      user-select: none
      font-size: 24px
      line-height: 1.2
      font-weight: 400
      white-space: nowrap

      em.zf-important
        color: $purple !important
        font-size: inherit !important

      &.relative
        position: relative
        padding-top: 20px
        transform: none
        padding-bottom: 8px !important

    input
      width: 100%
      border-radius: 0
      outline: none
      padding: 15px 0
      font-size: 24px
      line-height: 1.2
      font-family: inherit
      background-color: transparent
      border: none
      border-bottom: 1px solid #00000080
      position: relative

    textarea
      position: relative
      width: 100%
      border-radius: 0
      outline: none
      padding: 15px 0
      height: 59px
      font-size: 24px
      line-height: 1.2
      font-family: inherit
      background-color: transparent
      resize: none
      border: none
      border-bottom: 1px solid #00000080

    .zf_privacy
      display: flex
      align-items: center
      flex-wrap: wrap
      padding: 0
      width: 100%

      & > div:last-child
        font-size: 18px
        padding: 0
        margin-top: 4px
        flex-basis: 100%

    .newCustomchkbox-md
      display: block
      margin-right: 11px

    input[type="checkbox"]
      -webkit-appearance: none
      border: 1px solid $alto
      cursor: pointer
      margin: 0

      &:checked
        border-color: $black
        background-color: $black
        background-image: url('../images/checked.svg')
        background-repeat: no-repeat
        background-size: 100% 100%
        background-position: center center

    .zf_privacy_txt
      color: $grey
      font-family: "Brix Sans", sans-serif
      font-size: 16px
      line-height: 1.2
      padding: 0
      margin: 0

      a
        color: $black

    button.zf-submitColor
      font-family: "Gotham Bold", sans-serif
      padding: 18px 64px
      margin: 0
      background-color: transparent
      color: $black
      border: 1px solid $black
      border-radius: 0
      font-size: 12px
      font-weight: 400
      line-height: 1.2
      text-transform: uppercase
      text-align: center
      cursor: pointer
      width: 100%
      max-width: 224px

      +max($bp-md)
        position: static
        max-width: 100%

    .zf_button[type="reset"]
      display: none

    .zf-small .zf-phwrapper
      width: 100%

    span label
      display: none

    .zf-tempFrmWrapper
      padding: 10px 0px
      position: relative
      margin: 0

    .zf-tempFrmWrapper .zf-labelName
      color: #000

    .zf-topAlign .zf-tempFrmWrapper .zf-labelName
      padding-bottom: 0

    .zf-termsAccept
      display: flex
      align-items: center

    .zf-termsAccept label
      color: $grey
      padding-right: 50%
      margin-left: 10px
      font-size: 16px
      line-height: 1.25
      font-family: "Brix Sans", sans-serif

      a
        color: $black
        text-decoration: underline

      +max($bp-md)
        padding-right: 0

    .zf-subContWrap
      margin: 0

    .zf-fmFooter
      position: relative
      +max($bp-md)
        padding: 0
        padding-top: 25px

    .zf-tempFrmWrapper .zf-tempContDiv
      position: relative

    .zf-sideBySide .zf-tempContDiv span label
      font-size: 18px

    .zf-small .zf-tempContDiv .zf-form-sBox
      width: 100%
      padding: 15px 0px
      font-size: 24px
      line-height: 1.2
      font-family: inherit
      background-color: transparent
      border: none
      border-bottom: 1px solid #00000080
      outline: none

    .zf-tempContDiv input[type='file']
      max-width: 100%
