.board 
  .board__container 
    include ../customHr/customHr
    .board__box 
      .board__title board 
        br
        | members
      .board__grid 
        .board__person 
          img(src="assets/images/board-person-1.png" alt="")
          .board__name Sheikh Hassan Kabbani
          .board__info CHAIRMAN OF BOARD
        .board__person 
          img(src="assets/images/board-person-2.png" alt="")
          .board__name Sheik Tariq Altamimi
          .board__info BOARD MEMBER
        .board__person 
          img(src="assets/images/board-person-3.png" alt="")
          .board__name Abdulmohsen Alothman
          .board__info BOARD MEMBER
        .board__person 
          img(src="assets/images/board-person-4.png" alt="")
          .board__name Amr Mamoun Al Kabbani
          .board__info BOARD MEMBER
        .board__person 
          img(src="assets/images/board-person-5.png" alt="")
          .board__name Fawaz Altamimi
          .board__info BOARD MEMBER


