.board
  .board__container 
    include ../customHr/customHr
    .board__box 
      .board__title ceo
      .board__grid 
        .board__person 
          img(src="assets/images/board-person-6.png" alt="")
          .board__name Abdulraman M Albassam
          .board__info ceo


