.board
  display: block 
  width: 100% 
  padding-bottom: 150px 

  +max($bp-md)
    padding-bottom: 88px

  &__container 
    +container

  &__box
    display: grid 
    grid-template-columns: 1fr 920px
    align-items: start

    +max($bp-xlg)
      grid-template-columns: 1fr 600px

    +max($bp-md)
      grid-template-columns: 100%


  &__title
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    color: $black
    opacity: 0 
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1 

    +max($bp-xxlg)
      padding-bottom: 70px

    +max($bp-md)
      font-size: 32px
      line-height: 1.37
      padding-bottom: 40px

  &__grid 
    display: grid
    justify-items: center
    grid-template-columns: repeat(3, calc((100% - 80px)/3))
    gap: 100px 40px

    +max($bp-xlg)
      grid-template-columns: repeat(2, calc((100% - 80px)/2))
    
    +max($bp-xs)
      grid-template-columns: 100%
      gap: 40px

  
  &__person 
    max-width: max-content
    overflow: hidden
    
    img 
      display: block 
      max-width: 100%
      margin-bottom: 30px
      opacity: 0 
      transform: scale(1.2)
      transition: all 0.8s cubic-bezier(0.33, 1, 0.68, 1)
      transition-delay: 0.4s

      &.active
        opacity: 1 
        transform: none

      +max($bp-md)
        margin-bottom: 24px

  &__name 
    font-weight: 400
    font-size: 18px
    line-height: 1.22
    color: $black-22
    padding-bottom: 10px
    opacity: 0 
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1 

    +max($bp-md)
        padding-bottom: 8px
  
  &__info
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 12px
    line-height: 1.2
    color: $black-22
    text-transform: uppercase
    opacity: 0 
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1  

  

