.customHr 
  width: 100%
  max-width: 1400px
  margin: 0px auto 100px auto
  border: 0
  height: 1px
  background-color: $black-22
  opacity: 0 
  transition: all 0.3s linear 
  transition-delay: 0.4s

  &.active
    opacity: 1 

  +max($bp-md)
    margin: 0px auto 40px auto