.contactButtons
  display: flex
  position: absolute
  align-items: center
  right: 19px
  bottom: 20px
  opacity: 0
  transition: opacity 0.3s linear
  transition-delay: 0.4s
  z-index: 1

  &.active
    opacity: 1

  +max($bp-md)
    position: static
    padding-bottom: 32px

  &__button
    padding: 17px 25px
    text-transform: uppercase
    font-size: 12px
    font-weight: 700
    font-family: "Gotham Bold"
    line-height: 1.2
    letter-spacing: 0.1em
    text-align: center
    cursor: pointer
    transition: all 0.2s linear

    +max($bp-md)
      padding: 14px 20px

    &.-sales
      color: $black-22
      background-color: $white
      &:hover
        color: $white
        background-color: $black-22

    &.-vip
      color: $white
      background-color: $black-22
      margin-left: 10px
      &:hover
        color: $black-22
        background-color: $white

  &.-sticky
    display: inline-flex
    position: fixed
    top: 13px
    bottom: auto
    right: calc((100vw - 1400px) / 2)
    z-index: 126
    +max(1600)
      right: 100px
    +max($bp-xxlg)
      right: 24px
    +max($bp-sm)
      position: static

    .contactButtons__button.-sales
      border: 2px solid $black-22
      padding: 15px 23px
