.searchMap
  .searchMap__map#search-map
  .searchMap__buttons
    button.searchMap__backButton
      img(src="./assets/images/chevron-right.svg" alt="")
    button.searchMap__filtersButton
      span.searchMap__filtersText Filters
      span.searchMap__filtersCount 0
