.searchMap
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $grey-c4

  &.-open
    display: block
    z-index: 1501

  &__map
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  &__buttons
    display: flex
    align-items: center
    position: absolute
    top: 30px
    left: 30px

  &__backButton
    display: flex
    justify-content: center
    align-items: center
    margin-right: 10px
    background-color: $white
    border: none
    padding: 13px
    cursor: pointer
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05)
    transition: all 0.2s linear

    &:hover
      background-color: $gallery

    img
      display: block
      width: 18px
      height: 18px

  &__filtersButton
    display: flex
    align-items: center
    padding: 10px 36px
    background-color: $white
    border: none
    cursor: pointer
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05)
    transition: all 0.2s linear

    &:hover
      background-color: $gallery

    &::before
      display: block
      content: url('../images/filters.svg')
      width: 24px
      height: 24px
      margin-right: 8px

  &__filtersText
    font-family: "Gotham Bold", sans-serif
    text-transform: uppercase
    font-size: 12px
    line-height: 1.2
    letter-spacing: 0.1em
    color: $black-22

  &__filtersCount
    display: flex
    align-items: center
    font-family: "Gotham Bold", sans-serif
    text-transform: uppercase
    font-size: 12px
    line-height: 1.2
    letter-spacing: 0.1em
    color: $black-22
    margin-left: 3px

    &.-hidden
      display: none

    &::before
      display: block
      content: ''
      margin-right: 3px
      width: 3px
      height: 3px
      border-radius: 50%
      background-color: currentColor

  .gm-ui-hover-effect
    display: none !important

  .gm-style iframe + div
    border: none !important
