.projectsGallery
  .projectsGallery__bg.-green
    .projectsGallery__swiper.swiper
      .swiper-wrapper
        .projectsGallery__slide.swiper-slide(data-bg="green")
          a.projectsGallery__link(href="#")
            .projectsGallery__photo
              img(src="./assets/images/all-projects-1.png" alt="")
            .projectsGallery__title Arabian Ranches
            .projectsGallery__bottomWrapper
              .projectsGallery__bottomItem $400,000
              .projectsGallery__bottomItem villa
              .projectsGallery__bottomItem end of construction: may 2023
        .projectsGallery__slide.swiper-slide(data-bg="blue")
          a.projectsGallery__link(href="#")
            .projectsGallery__photo
              img(src="./assets/images/all-projects-2.png" alt="blue")
            .projectsGallery__title Arabian Ranches
            .projectsGallery__bottomWrapper
              .projectsGallery__bottomItem $400,000
              .projectsGallery__bottomItem villa
              .projectsGallery__bottomItem end of construction: may 2023
        .projectsGallery__slide.swiper-slide(data-bg="purple")
          a.projectsGallery__link(href="#")
            .projectsGallery__photo
              img(src="./assets/images/all-projects-1.png" alt="purple")
            .projectsGallery__title Arabian Ranches
            .projectsGallery__bottomWrapper
              .projectsGallery__bottomItem $400,000
              .projectsGallery__bottomItem villa
              .projectsGallery__bottomItem end of construction: may 2023
      .projectsGallery__nav.-prev.-hidden
        img(src="./assets/images/arrow-right-grey.svg")
      .projectsGallery__nav.-next
        img(src="./assets/images/arrow-right-grey.svg")
