.projectsGallery
  padding-bottom: 150px
  overflow-x: hidden

  &__soon
    list-style: none
    opacity: 0
    visibility: hidden
    transition: opacity 600ms, visibility 600ms
    position: absolute
    width: 100%
    height: 100%
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    text-align: center
    top: 35%
    z-index: 1
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 70px
    line-height: 1.14
    text-transform: uppercase
    color: #fff
    margin-bottom: 32px
    -webkit-filter: grayscale(0.6)

  &__linkHover:hover
    img
      -webkit-filter: grayscale(0.6)
      transition: 0.5s


  +max($bp-md)
    padding-bottom: 70px

  &__bg
    padding: 110px 100px 101px
    overflow: hidden
    transition: background-color 0.3s linear

    +max($bp-xlg)
      padding-left: 60px
      padding-right: 60px

    +max($bp-sm)
      padding: 100px 20px 60px

    &.-green
      background-color: $green
    &.-blue
      background-color: $blue
    &.-purple
      background-color: $purple

  &__swiper
    overflow: visible

  &__slide
    padding-bottom: 30px
    border-bottom: 1px solid rgba(255, 255, 255, 0.25)
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

  &__link
    display: block

    &:hover
      .projectsGallery__title
        color: darken($white, 10%)
      .projectsGallery__bottomItem
        color: darken($white, 10%)

  &__photo
    margin-bottom: 24px
    max-width: 1028px

    +max($bp-sm)
      margin-bottom: 20px

    img
      display: block
      width: 100%

  &__title
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.14
    text-transform: uppercase
    color: $white
    margin-bottom: 32px
    transition: all 0.2s linear

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__bottomWrapper
    display: flex
    align-items: center
    margin-top: -20px

    +max($bp-sm)
      flex-wrap: wrap

  &__bottomItem
    display: flex
    align-items: center
    color: $white
    font-size: 12px
    line-height: 1.2
    font-weight: 700
    font-family: "Gotham Bold"
    text-transform: uppercase
    letter-spacing: 0.1em
    margin-top: 20px
    transition: all 0.2s linear

    &:not(:last-child)
      margin-right: 20px

      &::after
        content: ''
        width: 3px
        height: 3px
        border-radius: 50%
        background-color: currentColor
        margin-left: 20px

  &__nav
    display: flex
    justify-content: center
    align-items: center
    background-color: $white
    width: 52px
    height: 52px
    border-radius: 50%
    cursor: pointer
    position: absolute
    top: 40%
    z-index: 1
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

    .swiper:not(.swiper-initialized) &
      display: none

    +max($bp-sm)
      width: 40px
      height: 40px

    +max($bp-xxs)
      top: 30%

    img
      width: 100%
      max-width: 10px

      +max($bp-sm)
        max-width: 8px

    &.-prev
      left: 0
      transform: translate(-100%, -50%)

      +max($bp-xlg)
        transform: translate(-50%, -50%)

      +max($bp-sm)
        transform: translateY(-50%)

      img
        transform: rotate(180deg)

    &.-next
      right: 0
      transform: translate(100%, -50%)

      +max($bp-xlg)
        transform: translate(50%, -50%)

      +max($bp-sm)
        transform: translateY(-50%)

    &.-hidden
      display: none


.projectsGallery__linkHover:hover .projectsGallery__soon
  position: absolute
  width: 100%
  height: 100%
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  text-align: center
  top: 35%
  z-index: 1
  font-weight: 700
  font-family: "Gotham Bold"
  font-size: 70px
  line-height: 1.14
  text-transform: uppercase
  color: #fff
  margin-bottom: 32px
  transition: all 0.2s linear
  -webkit-filter: grayscale(0.6)
  visibility: visible
  opacity: 1
