.tlr
  +container
  margin-bottom: 100px
  +max($bp-sm)
    margin-bottom: 60px

  &__container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 80px
    grid-auto-rows: 1fr
    max-width: 1200px 
    margin: 0 auto
    +max($bp-sm)
      grid-template-columns: 100%

    &.-fourColumn
      grid-template-columns: repeat(4, 1fr)
      gap: 60px
      +max($bp-sm)
        grid-template-columns: 100%

  &__item
    display: flex
    justify-content: center

  &__link
    font-size: 24px
    line-height: 1.2
    text-decoration: none
    cursor: pointer
    opacity: 0
    transition: all 0.3s linear

    &.active
      opacity: 1

    &:hover
      text-decoration: underline

    &.-green
      color: $green

      &:hover
        color: darken($green, 10%)

    &.-blue
      color: $blue

      &:hover
        color: darken($blue, 10%)

    &.-purple
      color: $purple

      &:hover
        color: darken($purple, 10%)

  &__box
    display: flex
    justify-content: center
    align-items: center
    padding: 16px 24px
    color: $black
    font-size: 24px
    line-height: 1.2
    font-weight: 700
    text-align: center
    opacity: 0
    transition: all 0.3s linear

    &.active
      opacity: 1
