.textListNarrow
  display: block
  width: 100%
  padding-bottom: 192px

  +max($bp-md)
    padding-bottom: 64px

  &__container
    +container

  &__left
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

  &__title
    width: 100%
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    color: $black
    padding-bottom: 50px
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37
      padding-bottom: 32px

  &__box
    display: grid
    width: 100%
    grid-template-columns: repeat(2, calc((100% - 166px) /2))
    gap: 166px

    +max($bp-md)
      grid-template-columns: 100%
      gap: 72px

  &__text
    font-weight: 400
    font-size: 24px
    line-height: 1.5
    color: $black
    padding-bottom: 40px

  &__tag
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 12px
    line-height: 1.16
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $purple
    margin-bottom: 25px

  &__list
    position: relative
    list-style-type: none
    padding-left: 28px

    li
      font-weight: 400
      font-size: 18px
      line-height: 1.67
      color: $black-22
      padding-bottom: 15px

      &::before
        display: inline-block
        position: absolute
        content: "\2022"
        color: $purple
        font-weight: bold
        left: 0

      &:last-child
        padding-bottom: 0
