.textListNarrow
  .textListNarrow__container
    include ../customHr/customHr
    .textListNarrow__title join our vip list
    .textListNarrow__box
      .textListNarrow__left
        .textListNarrow__text Be among the first to purchase a home in this great community coming soon. Join our VIP list to receive the latest information.
        .textListNarrow__tag main benefits
        ul.textListNarrow__list
          li Pricing Information
          li Site Plan Releases
          li Home Designs
      .textListNarrow__right
