.cityResults
  +container
  padding-top: 40px
  padding-bottom: 100px
  min-height: 60vh

  +max($bp-md)
    padding-bottom: 60px

  &__loader
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(255, 255, 255, 0.6)
    z-index: 1000

    &.-hidden
      display: none

    &::after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 50px
      height: 50px
      background-image: url('../images/loader-green.gif')
      background-position: center center
      background-repeat: no-repeat
      background-size: contain

  &__title
    color: $black-22
    font-size: 44px
    line-height: 1.2
    margin-bottom: 50px
    text-transform: uppercase
    font-weight: 700
    font-family: "Gotham Bold"

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__main
    display: flex

    &.-list
      .cityResults__left
        flex-basis: 100%
      .cityResults__right
        display: none

    &.-map
      .cityResults__left
        flex-basis: 60%
        +max($bp-md)
          flex-basis: 100%
      .cityResults__right
        flex-basis: 40%

  &__right
    margin-left: 30px

    +max($bp-md)
      display: none

  &__map
    position: sticky !important
    top: 10px
    height: 600px

  &__top
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px

  &__countSort
    display: flex
    align-items: center

    +max($bp-xxs)
      flex-direction: column
      align-items: stretch

  &__count
    display: flex
    align-items: center
    font-size: 20px
    line-height: 1.2
    margin-right: 25px
    color: $black-22

    +max($bp-xxs)
      margin-right: 0
      margin-bottom: 10px

  &__countNumber
    margin-left: 3px

  &__sort
    display: flex
    align-items: center

  &__label
    color: $grey
    font-size: 12px
    line-height: 1.2
    letter-spacing: 0.1em
    font-family: "Gotham Bold", sans-serif
    text-transform: uppercase
    margin-right: 10px
    white-space: nowrap

  &__select
    padding: 12px
    border: 1px solid $light-grey
    +font-gotham

    & + .select2
      +max($bp-md)
        margin-bottom: 10px
        width: 100% !important

      .select2-selection
        border: 1px solid $light-grey
        border-radius: 0
        padding: 12px 20px 12px 12px
        height: auto

        &__rendered
          color: $black-22
          font-size: 15px
          line-height: 1.2
          padding: 0 !important

        &__arrow
          top: 50%
          transform: translateY(-50%)

  &__viewSwitch
    display: flex
    align-items: center

    +max($bp-md)
      display: none

  &__switch
    padding: 13px 16px
    border: 1px solid $light-grey
    font-size: 14px
    line-height: 1.2
    cursor: pointer

    &:hover
      background-color: $half-white

    &:not(:last-child)
      border-right: none

    &.-active
      background-color: $light-grey

  &__projects
    display: flex
    flex-direction: column

  &__item
    padding: 10px 0

    &.-template
      display: none

    &.-hidden
      display: none

  &__itemContainer
    display: flex
    padding: 10px 0
    border-top: 1px solid $grey
    border-bottom: 1px solid $grey

    +max($bp-sm)
      flex-direction: column
      align-items: center
      border-top: none

  &__image
    width: 100%
    max-width: 250px
    height: 250px
    background-position: center center
    background-size: cover
    background-repeat: no-repeat

    +max($bp-sm)
      max-width: 100%
      height: clamp(250px, 65vw, 500px)

  &__content
    padding: 10px 20px
    width: 100%

    +max($bp-sm)
      padding: 20px
      border: 1px solid $grey

  &__itemTitle
    font-size: 20px
    font-weight: 700
    line-height: 1.2
    text-transform: uppercase
    letter-spacing: 0.1em
    font-family: "Gotham Bold", sans-serif
    margin-bottom: 4px

  &__city
    color: $grey
    font-size: 14px
    line-height: 1.2
    margin-bottom: 16px

  &__infoWrapper
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 10px
    margin-bottom: 24px

  &__infoLabel
    color: $black-22
    font-size: 16px
    font-weight: 600
    line-height: 1.2
    margin-bottom: 4px

  &__value
    color: $grey
    font-size: 14px
    line-height: 1.2

  &__bottom
    display: flex
    justify-content: flex-end

  &__button
    text-transform: uppercase
    font-size: 12px
    line-height: 1.2
    color: $blue
    font-weight: 700
    font-family: "Gotham Bold"
    border: 1px solid $light-grey
    padding: 14px 24px
    text-align: center

    &:hover
      background-color: $light-grey
