.cityResults
  .cityResults__loader
  .cityResults__title Homes in Riyadh
  .cityResults__main.-list
    .cityResults__left
      .cityResults__top
        .cityResults__countSort
          .cityResults__count
            span Projects:
            span.cityResults__countNumber 0
          .cityResults__sort
            .cityResults__label Sort by
            select.cityResults__select
              option(value="name-asc") Name - ascending
              option(value="name-desc") Name - descending
              option(value="price-asc") Price - ascending
              option(value="price-desc") Price - descending
        .cityResults__viewSwitch
          .cityResults__switch.-active(data-view="-list") List
          .cityResults__switch(data-view="-map") Map
      .cityResults__projects
        .cityResults__item.-template
          .cityResults__itemContainer
            .cityResults__image(data-slot="image")
            .cityResults__content
              .cityResults__itemTitle(data-slot="title")
              .cityResults__city(data-slot="city")
              .cityResults__infoWrapper
                .cityResults__info
                  .cityResults__infoLabel Home Type
                  .cityResults__value(data-slot="home-type")
                .cityResults__info
                  .cityResults__infoLabel Price
                  .cityResults__value(data-slot="price")
                .cityResults__info
                  .cityResults__infoLabel Bedrooms
                  .cityResults__value(data-slot="bedrooms")
                .cityResults__info
                  .cityResults__infoLabel Bathrooms
                  .cityResults__value(data-slot="bathrooms")
              .cityResults__bottom
                a.cityResults__button(href="#" data-slot="url") View project
    .cityResults__right
      .cityResults__map.maps#city-map
