.jobsOffers 
  display: block 
  width: 100% 
  padding-bottom: 150px

  +max($bp-md)
    padding-bottom: 64px

  &__container 
    +container
  
  &__box 
    display: grid 
    grid-template-columns: 35% 65%

    +max($bp-md)
      grid-template-columns: 100%

  
  &__title
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    color: $black
    padding-right: 40px
    opacity: 0 
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1 


    +max($bp-md)
      padding-right: 0px
      padding-bottom: 38px
      font-size: 32px
      line-height: 1.37

.embed_jobs_head
  background-color: transparent
  padding: 0

.embed_jobs_head2 
  background-color: transparent
  width: 100%
  padding: 0

.rec-grp-heading 
  display: none

.rec-job-info
  display: block
  position: relative
  padding: 50px 66px 47px 0
  border-top: 1px solid $light-grey
  min-height: 152px
  cursor: pointer
  opacity: 0 
  transition: all 0.3s linear 
  transition-delay: 0.4s

  &.active
    opacity: 1 


  +max($bp-md)
    padding-bottom: 28px

  &:hover 
    .rec-job-title a
      color: $purple

    &:after
      background-color: $half-white
      border: 1px solid $half-white


    .zrsite_City  
      color: $black
    
    .zrsite_Country 
      color: $black

  &:after 
    display: block
    content: " "
    position: absolute 
    border: 1px solid $light-grey 
    background-image: url("../images/jobs-offers-eye.svg")
    background-repeat: no-repeat
    height: 52px
    width: 52px
    top: 50%
    border-radius: 50%
    transform: translateY(-50%)
    right: 0
    background-position: center center
    transition: all 0.2s linear

  &:last-child 
    border-bottom: 1px solid $light-grey

.rec-job-title 
  font-weight: 400
  font-size: 26px
  line-height: 1
  color: $black
  padding-bottom: 15px

  +max($bp-md)
    padding-bottom: 8px

  a
    color: $black
    text-decoration: none
    transition: all 0.2s linear

.zrsite_City 
  display: inline-block 
  font-weight: 700
  font-family: "Gotham Bold"
  font-size: 12px
  line-height: 1.16
  text-transform: uppercase
  color: $purple
  transition: all 0.2s linear

  span:first-child 
    display: none

  &:after 
    content: ", "
    margin-right: 3px


.zrsite_Country 
  display: inline-block 
  font-weight: 700
  font-family: "Gotham Bold"
  font-size: 12px
  line-height: 1.16
  text-transform: uppercase
  color: $purple
  transition: all 0.2s linear

  span:first-child 
    display: none


.zrsite_Job_Type 
  display: none



