.jobsOffers(data-section) 
  .jobsOffers__container 
     include ../customHr/customHr
     .jobsOffers__box 
      .jobsOffers__title jobs offers
      .jobsOffers__offers 
        | // here jobs offers please
