extends ./../components/layout/_layout

block content
	//- PUT CODE HERE
	include ../components/banner/banner-about-us
	include ../components/careerInfo/careerInfo-about-1
	include ../components/imagesSection/imagesSection
	include ../components/careerInfo/careerInfo-about-1
	.box
		include ../components/imageText/imageText
		include ../components/imageText/imageText-2
		include ../components/imageText/imageText-3
	include ../components/aboutUs/aboutUs-about
	include ../components/joinOurVipList/joinOurVipList

