extends ./../components/layout/_layout

block content
	//- PUT CODE HERE
	include ../components/banner/banner-board
	include ../components/careerInfo/careerInfo-board
	include ../components/board/board
	include ../components/board/board-ceo

