extends ./../components/layout/_layout

block content
	//- PUT CODE HERE
	include ../components/banner/banner-career
	include ../components/careerInfo/careerInfo
	include ../components/jobsOffers/jobsOffers

