extends ./../components/layout/_layout

block content
  //- PUT CODE HERE
  include ../components/banner/banner-investments
  include ../components/tabs/tabs
  include ../components/investmentGallery/investmentGallery
  include ../components/videoTour/videoTour
  include ../components/floorPlan/floorPlan
  include ../components/interactiveMap/interactiveMap
  include ../components/joinOurVipList/joinOurVipList

