extends ./../components/layout/_layout

block content
  //- PUT CODE HERE
  include ../components/banner/banner-investments
  include ../components/tabs/tabs
  include ../components/detailsGrid/detailsGrid
  include ../components/textList/textList
  include ../components/scatterGallery/scatterGallery
  include ../components/videoTour/videoTour
  include ../components/interactiveMap/interactiveMap
  include ../components/homesGrid/homesGrid
  include ../components/investmentGallery/investmentGallery
  include ../components/joinOurVipList/joinOurVipList
