extends ./../components/layout/_layout

block content
	//- PUT CODE HERE
	include ../components/banner/banner
	include ../components/aboutUs/aboutUs
	include ../components/joinOurVipList/joinOurVipList

