.mapSection
  display: flex
  flex-direction: column
  margin-bottom: 100px

  &__title
    +container
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    color: $black
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s
    margin-bottom: 40px

    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__map
    max-width: 100%
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s
    overflow: hidden
    position: relative

    &.active
      opacity: 1

    img
      display: block
      width: 100%

  &__mapPlace
    min-width: 100%
    height: 850px
    position: relative

    +max($bp-lg)
      width: 100%

    +max($bp-md)
      height: 400px
      width: 100%
      transform: translateX(0%)

  &__placeholder
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #efefef
    z-index: 2

    &.-hidden
      opacity: 0
      z-index: -1

    &::before
      content: ''
      background-color: #fff
      opacity: 0.7
      filter: blur(15px)
      width: 150px
      height: 100%
      position: absolute
      top: 0
      left: -75px
      transform: skewX(-15deg)
      animation: shine 1s infinite linear

  &__box
    display: flex
    align-items: center
    position: absolute
    top: 50px
    left: 30px
    z-index: 1
    width: 100%
    max-width: 275px
    background-color: $white
    padding: 16px
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05)

    +max($bp-md)
      top: 24px

    &.-open
      padding: 30px
      flex-direction: column
      align-items: flex-start
      max-width: 340px

      +max($bp-md)
        padding: 16px
        max-width: 300px

  &__backButton
    display: flex
    justify-content: center
    align-items: center
    margin-right: 10px
    background-color: $white
    border: 1px solid $light-grey
    padding: 13px
    cursor: pointer

    &:hover
      background-color: $gallery

      +max($bp-md)
        background-color: $white

    img
      display: block
      width: 18px
      height: 18px

    .mapSection__box.-open &
      margin-right: 0
      margin-bottom: 45px

      +max($bp-md)
        margin-bottom: 24px

      img
        transform: rotate(180deg)

  &__textBox
    display: none

    .mapSection__box.-open &
      display: block

  &__boxTag
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 12px
    line-height: 1.2
    letter-spacing: 0.1em
    text-transform: uppercase
    margin-bottom: 20px
    color: $blue

  &__boxTitle
    color: $black
    font-size: 34px
    line-height: 1.2
    margin-bottom: 20px

    +max($bp-md)
      font-size: 20px

  &__boxText
    color: $grey-93
    font-size: 16px
    line-height: 1.5
    margin-bottom: 96px

    a
      font-weight: 600
      color: $blue
      text-decoration: underline

    +max($bp-md)
      font-size: 14px
      line-height: 1.2
      margin-bottom: 48px

  &__filtersButton
    display: flex
    justify-content: center
    align-items: center
    padding: 10px 36px
    background-color: $white
    border: 1px solid $light-grey
    align-self: stretch
    cursor: pointer
    transition: all 0.2s linear

    &:hover
      background-color: $gallery

    &::before
      display: block
      content: url('../images/filters.svg')
      width: 24px
      height: 24px
      margin-right: 8px

  &__filtersText
    font-family: "Gotham Bold", sans-serif
    text-transform: uppercase
    font-size: 12px
    line-height: 1.2
    letter-spacing: 0.1em
    color: $black-22

  &__filtersCount
    display: flex
    align-items: center
    font-family: "Gotham Bold", sans-serif
    text-transform: uppercase
    font-size: 12px
    line-height: 1.2
    letter-spacing: 0.1em
    color: $black-22
    margin-left: 3px

    &.-hidden
      display: none

    &::before
      display: block
      content: ''
      margin-right: 3px
      width: 3px
      height: 3px
      border-radius: 50%
      background-color: currentColor

  .gm-ui-hover-effect
    display: none !important

  .gm-style iframe + div
    border: none !important

@keyframes shine
  0%
    left: -75px
  100%
    left: calc(100% + 75px)


