.scatterGallery
  +container
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-auto-flow: row-dense
  gap: 100px
  margin-bottom: 150px

  +max(1500)
    gap: 60px

  +max($bp-xlg)
    gap: 40px

  +max($bp-sm)
    grid-template-columns: 100%

  &__image
    img
      display: block
      width: 100%
      opacity: 0
      transition: opacity 0.3s linear
      &.active
        opacity: 1
    &.-topLeft
      max-width: 450px
    &.-topRight
      margin-top: 100px
      max-width: 700px
      +max(1500)
        margin-top: 40px
      +max($bp-xlg)
        margin-top: 0
    &.-bottomLeft
      max-width: 600px
      margin-top: -100px
      +max(1500)
        margin-top: -40px
      +max($bp-xlg)
        margin-top: 0
    &.-bottomRight
      max-width: 450px

  &__caption
    margin-top: 35px
    color: $black
    font-size: 20px
    line-height: 1.4
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1
    +max($bp-sm)
      margin-top: 15px
