.scatterGallery
  .scatterGallery__image.-topLeft
    img(src="./assets/images/scatter-top-left.png" alt="")
    .scatterGallery__caption Big windows
  .scatterGallery__image.-topRight
    img(src="./assets/images/scatter-top-right.png" alt="")
    .scatterGallery__caption Fun and wellbeing are the words that best describe this lively neighbourhood.
  .scatterGallery__image.-bottomLeft
    img(src="./assets/images/scatter-bottom-left.png" alt="")
    .scatterGallery__caption Take your kids for an afternoon at the fun-packed Clubhouse.
  .scatterGallery__image.-bottomRight
    img(src="./assets/images/scatter-bottom-right.png" alt="")
    .scatterGallery__caption High quality
