.aboutUs 
  .aboutUs__container 
    include ../customHr/customHr
    .aboutUs__box 
      .aboutUs__title alliance in numbers
      .aboutUs__items 
        include ../aboutUsItem/aboutUsItem-about-1
        include ../aboutUsItem/aboutUsItem-about-1
        include ../aboutUsItem/aboutUsItem-about-1
        include ../aboutUsItem/aboutUsItem-about-1