.aboutUs(data-section)
  .aboutUs__container 
    include ../customHr/customHr
    .aboutUs__box 
      .aboutUs__title ABOUT US 
      .aboutUs__items 
        include ../aboutUsItem/aboutUsItem
        include ../aboutUsItem/aboutUsItem
        include ../aboutUsItem/aboutUsItem
        include ../aboutUsItem/aboutUsItem
  .aboutUs__imageSection 
    .aboutUs__image 
      picture 
        source(media="(min-width: 451px)" srcset="assets/images/about-us-image-1.png" type="image/png")
        source(srcset="assets/images/about-us-image-1-xxs.png" type="image/png")
        img(src="assets/images/about-us-image-1.png" alt="")
    .aboutUs__image.-second
      picture 
        source(media="(min-width: 451px)" srcset="assets/images/about-us-image-2.png" type="image/png")
        source(srcset="assets/images/about-us-image-2-xxs.png" type="image/png")
        img(src="assets/images/about-us-image-2.png" alt="")


