.aboutUs 
  display: block
  width: 100%
  padding-bottom: 150px
  overflow-x: hidden

  +max($bp-md)
    padding-bottom: 70px

  &__container
    +container

  &__box
    display: grid 
    grid-template-columns: 36.43% 63.57%
    width: 100%

    +max($bp-lg)
      grid-template-columns: 100%
      gap: 70px
    
    +max($bp-md)
      gap: 32px
    

  &__title
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    color: $black
    opacity: 0 
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1 


    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__items 
    display: grid 
    grid-template-columns: repeat(2, calc((100% - 40px) /2))
    gap: 100px 40px
    padding-bottom: 145px

    +max($bp-md)
      padding-bottom: 80px

    +max($bp-sm)
      grid-template-columns: 100%
      gap: 80px
  
  &__imageSection 
    display: grid 
    width: 100%
    max-width: 1600px 
    margin: 0 auto
    grid-template-columns: 55.6% 44.4%

    +max($bp-md)
      grid-template-columns: 100%

  &__image
    opacity: 0
    transition: all 0.8s cubic-bezier(0.33, 1, 0.68, 1)
    transition-delay: 0.4s
    transform: translateX(-100%)

    &.active
      opacity: 1
      transform: none !important


    +max($bp-md)
      padding-right: 80px

    picture
      display: block 
      max-width: 100%
    img 
      display: block
      max-width: 100%
    
    &.-second
      padding-top: 280px
      transform: translateX(100%)

      +max($bp-xxlg)
        padding-top: 170px

      +max($bp-md)
        padding-top: 0
        justify-self: end
        padding-left: 80px
        padding-right: 0


