.contact(data-section)
  .contact__topImg
    .contact__map#map
  .contact__container
    .contact__left
      .contact__title ready to change?
        br
        | we’re ready to talk
      div
        .contact__text
          | Phone: 00966138811116
          br
          | E-mail: info@tilalre.com
        .contact__text
          | Prince Turkey St., Cornishe Alkurnaish
          br
          | Al Khobar 34413, Saudi Arabia
        ul.contact__links
          li.contact__link
            a(href="#" title="visit our profile on facebook") facebook
          li.contact__link
            a(href="#" title="visit our profile on instagram") instagram
    .contact__right
     | // here form please
