.contact
  display: block
  width: 100%
  padding-bottom: 154px
  padding-top: 130px

  +max($bp-md)
    padding-bottom: 64px
    padding-top: 87px

  &__topImg
    display: block
    width: 100%
    position: relative
    min-height: 600px
    overflow: hidden
    margin-bottom: 154px

    +max($bp-md)
      min-height: 560px
      margin-bottom: 70px

  &__map
    position: absolute
    min-width: 100%
    height: 600px
    opacity: 0
    transition: all 0.3s linear 

    &.active 
      opacity: 1

    +max($bp-md)
      height: 560px
      right: 0%
      width: 1000px

  &__container
    +container
    display: grid
    grid-template-columns: repeat(2, calc((100% - 12.6% )/2))
    gap: 12.6%

    +max($bp-xlg)
      grid-template-columns: repeat(2, calc((100% - 64px )/2))
      gap: 64px

    +max($bp-lg)
      grid-template-columns: 100%

  &__left
    display: flex
    flex-direction: column
    align-self: start
    padding-left: 50px
    border-left: 1px solid #0000001C
    min-height: 392px
    justify-content: space-between
    opacity: 0
    transition: all 0.3s linear 
    transition-delay: 0.4s

    & > div 
      opacity: 0
      transition: all 0.3s linear 
      transition-delay: 0.4s
      &.active
        opacity: 1

    &.active
      opacity: 1

    +max($bp-md)
      padding-left: 24px
      min-height: 300px

    +max($bp-xs)
      min-height: 445px

  &__title
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    color: $black
    padding-bottom: 35px

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__text
    font-weight: 400
    font-size: 18px
    line-height: 1.44
    color: $black-22
    padding-bottom: 35px

    &:last-of-type
      +max($bp-md)
        padding-bottom: 43px

  &__links
    display: flex
    align-items: center

    li
      font-weight: 700
      font-family: "Gotham Bold"
      font-size: 12px
      line-height: 1.16
      letter-spacing: 0.1em
      text-transform: uppercase

      a
        color: $purple
        text-decoration: none
        cursor: pointer

        &:hover
          color: $purple
          text-decoration: underline

      &::after
        display: inline-block
        content: "\2022"
        color: $purple
        font-weight: bold
        margin: 0px 20px

      &:last-child:after
        display: none

  &__right
    max-width: 600px
    padding: 0
    margin: 0
    font-family: "Gotham", sans-serif
    opacity: 0
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1

    +max($bp-md)
      max-width: 100%

    li
      position: relative

    .zf-templateWidth
      width: 100%

    .zf-tempHeadBdr
      display: none

    .zf-templateWrapper
      border-radius: 0
      border: 0
      box-shadow: none

    .zf-labelName
      padding: 0
      margin: 0
      position: absolute
      top: 50%
      transform: translateY(-50%)
      font-family: "Gotham", sans-serif
      user-select: none
      font-size: 24px
      line-height: 1.2
      font-weight: 400
      white-space: nowrap

      em.zf-important
        color: $purple !important
        font-size: inherit !important

    input
      width: 100%
      border-radius: 0
      outline: none
      padding: 15px 0
      font-size: 24px
      line-height: 1.2
      font-family: inherit
      background-color: transparent
      border: none
      border-bottom: 1px solid #00000080
      position: relative

    textarea
      position: relative
      width: 100%
      border-radius: 0
      outline: none
      padding: 15px 0
      height: 59px
      font-size: 24px
      line-height: 1.2
      font-family: inherit
      background-color: transparent
      resize: none
      border: none
      border-bottom: 1px solid #00000080

    .zf_privacy
      display: flex
      align-items: center
      flex-wrap: wrap
      padding: 0
      width: 100%

      & > div:last-child
        font-size: 18px
        padding: 0
        margin-top: 4px
        flex-basis: 100%

    .newCustomchkbox-md
      display: block
      margin-right: 11px

    input[type="checkbox"]
      -webkit-appearance: none
      width: 20px
      min-width: 20px
      height: 20px
      border: 1px solid $alto
      cursor: pointer
      margin: 0 !important

      &:checked
        border-color: $black
        background-color: $black
        background-image: url('../images/checked.svg')
        background-repeat: no-repeat
        background-size: 100% 100%
        background-position: center center


    .zf_privacy_txt
      color: $grey
      font-family: "Brix Sans", sans-serif
      font-size: 16px
      line-height: 1.2
      padding: 0
      margin: 0

      a
        color: $black

    button.zf-submitColor
      position: absolute
      right: 0
      top: -50%
      font-family: "Gotham Bold", sans-serif
      padding: 18px 64px
      margin: 0
      background-color: transparent
      color: $black
      border: 1px solid $black
      border-radius: 0
      font-size: 12px
      font-weight: 400
      line-height: 1.2
      text-transform: uppercase
      text-align: center
      cursor: pointer
      width: 100%
      max-width: 224px

      +max($bp-md)
        position: static
        max-width: 100%

    .zf_button[type="reset"]
      display: none

    .zf-small .zf-phwrapper
      width: 100%

    span label
      display: none

    .zf-tempFrmWrapper
      padding: 10px 0px
      margin: 0

    .zf-tempFrmWrapper .zf-labelName
      color: #000

    .zf-topAlign .zf-tempFrmWrapper .zf-labelName
      padding-bottom: 0

    .zf-termsAccept
      display: flex
      align-items: center

    .zf-termsAccept label
      color: $grey
      padding-right: 50%
      margin-left: 10px
      font-size: 16px
      line-height: 1.25
      font-family: "Brix Sans", sans-serif

      a
        color: $black
        text-decoration: underline

      +max($bp-md)
        padding-right: 0

    .zf-subContWrap
      margin: 0

    .zf-fmFooter
      +max($bp-md)
        padding: 0
        padding-top: 25px
