.search

  &__button
    background: transparent

    .header.-whiteBg &
      color: $black-22

    &.-desktop
      display: flex
      align-items: center
      position: relative
      padding: 11px 15px 11px 25px
      color: $white
      border: 1px solid $light-grey-opacity
      text-transform: uppercase
      white-space: nowrap
      margin-right: 10px
      font-size: 12px
      line-height: 1.17
      letter-spacing: 0.1em
      font-weight: 700
      font-family: "Gotham Bold"
      cursor: pointer

      &:after
        display: block
        content: url('../images/search.svg')
        margin-left: 10px

        .header.-whiteBg &
          content: url('../images/search-black.svg')

      &:hover
        background-color: $light-grey-opacity
      +max($bp-md)
        display: none

    &.-mobile
      display: none
      width: 22px
      height: 22px
      background-image: url("../images/search-22.svg")
      background-position: center center
      background-repeat: no-repeat
      border: none
      margin-left: 32px

      +max($bp-md)
        display: block

      .header.-whiteBg &
        background-image: url('../images/search-black.svg')
        background-size: cover
