.interactiveMap
  padding-bottom: 150px

  &__container
    +container

  &__title
    color: $black
    font-size: 44px
    line-height: 1.2
    margin-bottom: 50px
    text-transform: uppercase
    font-weight: 700
    font-family: "Gotham Bold"
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__map
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

  &__placeholder
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1
    img
      display: block
      width: 100%
