.interactiveMap
  include ../customHr/customHr
  .interactiveMap__container
    .interactiveMap__title interactive map
  .interactiveMap__mapWrapper
    .interactiveMap__map
    .interactiveMap__placeholder
      img(src="./assets/images/interactive-map-placeholder.png" alt="")
