.contactOffcanvas.-sales
  .contactOffcanvas__close
    img(src="./assets/images/close-grey.svg" alt="")
  .contactOffcanvas__tag Riyadh Villas
  .contactOffcanvas__title Contact sales
  .contactOffcanvas__text Find out the most up-to-date information about pricing, home site availability and community details.
  .contactOffcanvas__contactList
    .contactOffcanvas__contactItem
      .contactOffcanvas__name sales team
      .contactOffcanvas__details Johnna Harrison & Laura Li
        br
        | 510-894-6559
        br
        | Johna.h@sales.com
  .contactOffcanvas__map MAP
.contactOffcanvas__backdrop
