.contactOffcanvas
  position: fixed
  top: 0
  right: 0
  transform: translateX(100%)
  width: 100%
  max-width: 450px
  height: 100%
  overflow-y: auto
  background-color: $white
  padding: 100px 35px 70px
  z-index: 150
  transition: all 0.1s linear

  &.-open
    transform: none

  &.-open ~ &__backdrop
    opacity: 0.5
    z-index: 149
    visibility: visible

  &__close
    position: absolute
    top: 20px
    right: 20px
    cursor: pointer

  &__tag
    color: $blue
    text-transform: uppercase
    font-size: 12px
    line-height: 1.2
    font-weight: 600
    letter-spacing: 0.1em
    margin-bottom: 10px

  &__title
    color: $black
    font-size: 32px
    line-height: 1.2
    margin-bottom: 15px

  &__text
    color: $grey-7
    font-size: 16px
    line-height: 1.5
    padding-bottom: 35px
    border-bottom: 1px solid rgba(196, 196, 196, 0.5)
    margin-bottom: 40px

  &__contactItem
    margin-bottom: 30px

  &__name
    color: $blue
    text-transform: uppercase
    font-size: 12px
    line-height: 1.2
    font-weight: 600
    letter-spacing: 0.1em
    margin-bottom: 8px

  &__details
    color: $black
    font-size: 16px
    line-height: 1.5

  &__map
    iframe
      max-width: 380px
      margin-top: 20px
      width: 100%
    img
      display: block
      width: 100%

  &__listTitle
    color: $blue
    text-transform: uppercase
    font-size: 12px
    line-height: 1.2
    font-weight: 600
    letter-spacing: 0.1em
    margin-bottom: 25px

  &__list
    list-style-type: disc
    padding-left: 20px
    padding-bottom: 40px
    border-bottom: 1px solid rgba(196, 196, 196, 0.5)
    margin-bottom: 20px

  &__item
    font-size: 18px
    line-height: 1.68
    color: $black-22
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0
    &::marker
      color: $blue

  &__formText
    color: $grey-7
    margin-bottom: 60px
    font-size: 16px
    line-height: 1.5

  &__backdrop
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: 0
    z-index: -1
    visibility: hidden
    background-color: $black-22
    transition: all 0.2s linear

  .crmWebToEntityForm
    padding: 0 !important
    max-width: 100% !important

  form
    display: grid
    grid-template-columns: 100%

  input
    -webkit-appearance: none

  .zcwf_title
    display: none

  .zcwf_row
    position: relative
    grid-column: 1/4
    margin: 0 0 25px 0 !important

    &:nth-last-of-type(3)
      margin-top: 15px !important
      grid-column: 1/4
      +max($bp-sm)
        grid-column: 1/4
    &:nth-last-of-type(2)
      margin-top: 15px !important
      grid-column: 1/4
      +max($bp-sm)
        grid-column: 1/4

  .zcwf_col_lab
    padding: 0 !important
    margin: 0 !important
    position: absolute
    top: 50%
    transform: translateY(-50%)
    font-family: "Gotham", sans-serif !important
    user-select: none

    label
      font-size: 24px
      line-height: 1.2
      white-space: nowrap

      span
        color: $green !important

  .zcwf_col_fld
    padding: 0 !important
    margin: 0 !important
    font-family: "Gotham", sans-serif !important
    width: 100% !important

    input[type="text"]
      -webkit-appearance: none
      width: 100% !important
      border-radius: 0 !important
      outline: none
      padding: 15px 0
      font-size: 24px
      line-height: 1.2
      font-family: inherit
      background-color: transparent !important

      &::placeholder
        font-size: inherit !important

    textarea
      width: 100% !important
      border-radius: 0 !important
      outline: none
      padding: 15px 0
      font-size: 24px
      line-height: 1.2
      font-family: inherit
      background-color: transparent !important

  .zcwf_lblLeft .zcwf_col_fld input[type="text"],
  .zcwf_lblLeft .zcwf_col_fld textarea,
    border: none !important
    border-bottom: 1px solid $black !important

  .zcwf_privacy
    display: flex
    align-items: center
    flex-wrap: wrap
    padding: 0 !important
    width: 100% !important

    & > div:last-child
      font-size: 18px !important
      padding: 0 !important
      margin-top: 4px
      flex-basis: 100%

  .newCustomchkbox-md
    display: block
    margin-right: 11px

    input[type="checkbox"]
      width: 20px
      min-width: 20px
      height: 20px
      border: 1px solid $alto
      cursor: pointer

      &:checked
        border-color: $black
        background-color: $black
        background-image: url('../images/checked.svg')
        background-repeat: no-repeat
        background-size: 100% 100%
        background-position: center center

  .zcwf_privacy_txt
    color: $grey !important
    font-family: "Brix Sans", sans-serif !important
    font-size: 16px !important
    line-height: 1.2 !important
    padding: 0 !important
    margin: 0 !important

    a
      color: $black !important
      text-decoration: underline

  .zcwf_button[type="submit"]
    -webkit-appearance: none
    font-family: "Gotham Bold", sans-serif !important
    padding: 19px 64px !important
    width: 100%
    max-width: 100% !important
    margin: 0 !important
    background-color: $green
    border: 0
    border-radius: 0
    color: $white
    font-size: 12px
    font-weight: 700
    line-height: 1.2
    text-transform: uppercase
    text-align: center

  .zcwf_button[type="reset"]
    display: none

  .zf-templateWrapper
    border: 0

  .zf-tempHeadContBdr
    display: none

  .zf-tempHeadContBdr .zf-frmTitle
    color: $black
    font-size: 28px

  .zf-templateWidth
    width: 100%

  .zf-tempHeadBdr
    display: none

  .zf-templateWrapper
    border-radius: 0
    border: 0
    box-shadow: none

  .zf-labelName
    padding: 0
    margin: 0
    position: absolute
    top: 50%
    transform: translateY(-50%)
    font-family: "Gotham", sans-serif
    user-select: none
    font-size: 24px
    line-height: 1.2
    font-weight: 400
    white-space: nowrap

    em.zf-important
      color: $purple !important
      font-size: inherit !important

    &.relative
      position: relative
      padding-top: 20px
      transform: none
      padding-bottom: 8px !important

  input
    width: 100%
    border-radius: 0
    outline: none
    padding: 15px 0
    font-size: 24px
    line-height: 1.2
    font-family: inherit
    background-color: transparent
    border: none
    border-bottom: 1px solid #00000080
    position: relative

  textarea
    position: relative
    width: 100%
    border-radius: 0
    outline: none
    padding: 15px 0
    height: 59px
    font-size: 24px
    line-height: 1.2
    font-family: inherit
    background-color: transparent
    resize: none
    border: none
    border-bottom: 1px solid #00000080

  .zf_privacy
    display: flex
    align-items: center
    flex-wrap: wrap
    padding: 0
    width: 100%

    & > div:last-child
      font-size: 18px
      padding: 0
      margin-top: 4px
      flex-basis: 100%

  .newCustomchkbox-md
    display: block
    margin-right: 11px

  input[type="checkbox"]
    -webkit-appearance: none
    border: 1px solid $alto
    cursor: pointer
    margin: 0
    min-width: 13px

    &:checked
      border-color: $black
      background-color: $black
      background-image: url('../images/checked.svg')
      background-repeat: no-repeat
      background-size: 100% 100%
      background-position: center center


  .zf_privacy_txt
    color: $grey
    font-family: "Brix Sans", sans-serif
    font-size: 16px
    line-height: 1.2
    padding: 0
    margin: 0

    a
      color: $black

  button.zf-submitColor
    font-family: "Gotham Bold", sans-serif
    padding: 18px 64px
    margin: 0
    background-color: transparent
    color: $black
    border: 1px solid $black
    border-radius: 0
    font-size: 12px
    font-weight: 400
    line-height: 1.2
    text-transform: uppercase
    text-align: center
    cursor: pointer
    width: 100%
    max-width: 224px

    +max($bp-md)
      position: static
      max-width: 100%

  .zf_button[type="reset"]
    display: none

  .zf-small .zf-phwrapper
    width: 100%

  span label
    display: none

  .zf-tempFrmWrapper
    padding: 10px 0px
    position: relative
    margin: 0

  .zf-tempFrmWrapper .zf-labelName
    color: #000

  .zf-topAlign .zf-tempFrmWrapper .zf-labelName
    padding-bottom: 0

  .zf-termsAccept
    display: flex
    align-items: baseline

  .zf-termsAccept label
    color: $grey
    margin-left: 10px
    font-size: 16px
    line-height: 1.25
    font-family: "Brix Sans", sans-serif

    a
      color: $black
      text-decoration: underline

    +max($bp-md)
      padding-right: 0

  .zf-subContWrap
    margin: 0

  .zf-fmFooter
    position: relative
    +max($bp-md)
      padding: 0
      padding-top: 25px

  .zf-tempFrmWrapper .zf-tempContDiv
    position: relative

  .zf-sideBySide .zf-tempContDiv span label
    font-size: 18px

  .zf-small .zf-tempContDiv .zf-form-sBox
    width: 100%
    padding: 15px 0px
    font-size: 24px
    line-height: 1.2
    font-family: inherit
    background-color: transparent
    border: none
    border-bottom: 1px solid #00000080
    outline: none

  .zf-tempContDiv input[type='file']
    max-width: 100%
