.maps

  &__soon
    list-style: none
    opacity: 0
    visibility: hidden
    transition: opacity 600ms, visibility 600ms
    position: absolute
    width: 100%
    height: 100%
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    text-align: center
    top: 24%
    z-index: 1
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 47px
    line-height: 1.14
    text-transform: uppercase
    color: #fff
    margin-bottom: 32px
    -webkit-filter: grayscale(0.6)

  &__linkHover:hover
    img
      -webkit-filter: grayscale(0.6)
      transition: 0.5s

  &__image
    display: block
    width: 300px !important
    max-width: 300px !important

  &__main
    padding: 20px
    max-width: 300px

  &__title
    color: $black-22
    font-size: 16px
    line-height: 1.2
    font-weight: 700
    letter-spacing: 0.1em
    margin-bottom: 16px
    font-family: "Gotham Bold", sans-serif
    text-transform: uppercase

  &__grid
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 10px

  &__label
    color: $grey
    font-size: 10px
    line-height: 1.2
    margin-bottom: 4px

  &__value
    color: $black-22
    font-size: 14px
    line-height: 1.2
    font-weight: 600

  .gm-style-iw
    padding: 0

  .gm-style-iw-d
    padding: 0
    overflow: hidden !important
    font-family: "Gotham"
    font-size: 16px

.maps__linkHover:hover .maps__soon
  position: absolute
  width: 100%
  height: 100%
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  text-align: center
  top: 24%
  z-index: 1
  font-weight: 700
  font-family: "Gotham Bold"
  font-size: 47px
  line-height: 1.14
  text-transform: uppercase
  color: #fff
  margin-bottom: 32px
  transition: all 0.2s linear
  -webkit-filter: grayscale(0.6)
  visibility: visible
  opacity: 1
