.banner 
  img.banner__photoInBg(src="./assets/images/banner-about-us.png")
  .banner__container
    img.banner__shape(src="./assets/images/banner-green-shape.svg")
    .banner__title we build the most friendly communities in Saudi Arabia
    .banner__scrollBox
      .banner__circle 
        img(src="assets/images/arrow-down.svg")
      .banner__text Scroll down to 
        br
        b read more
    include ../contactCircles/contactCircles
