.banner
  img.banner__photoInBg(src="./assets/images/banner-about-us.png")
  .banner__container
    img.banner__shape(src="./assets/images/banner-green-shape.svg")
    .banner__logo
      img(src="./assets/images/logo.svg" alt="")
    .banner__title find your hapiness riyadh villas
    .banner__scrollBox
      .banner__circle
        img(src="assets/images/arrow-down.svg")
      .banner__text Live in a villa from
        br
        span $240,000
    include ../contactButtons/contactButtons
    include ../contactOffcanvas/contactOffcanvas
