.banner
  display: block
  position: relative
  width: 100%
  overflow: hidden
  margin-bottom: 150px

  &.-withVideo
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 95px
      background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 90%, rgba(0, 0, 0, 0))

  +max($bp-md)
    margin-bottom: 70px

  &.-onlyImg
    height: 100vh
    max-height: 600px

  &.-withoutScaling

    .banner__photoInBg
      transform: translate(-50%, -44%)

    +max($bp-xxlg)
      height: auto

      .banner__photoInBg
        position: static
        min-height: 1px
        transform: translateY(-10%)
        max-width: 100%

        +max($bp-md)
          transform: translateX(-8%)
          max-width: calc(100% + 16%)

  &__container
    +container
    max-width: 100%
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-end
    position: relative
    overflow: hidden
    height: 100vh
    max-height: 849px

    +max($bp-lg)
      max-height: 640px

  &__photoInBg
    display: block
    position: absolute
    min-width: 100%
    min-height: 100%
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    z-index: -1
    opacity: 0
    transition: opacity 0.3s linear

    &.active
      opacity: 1

    &.active
      opacity: 1

    +max($bp-md)
      top: 0
      transform: translate(-50%, 0)

    &.-leftOnMobile
      +max($bp-xs)
        transform: translateX(-32%)

    &.-rightOnMobile
      +max($bp-xs)
        left: auto
        right: 0
        transform: translate(8%)

    &.-centerRightOnMobile
      +max($bp-xs)
        left: auto
        right: 0
        transform: translate(25.5%)

    &.-bottomRightOnMobile
      +max($bp-xs)
        left: auto
        right: 0
        transform: translate(25.5%, -17.5%)

  video.banner__photoInBg
    +max($bp-md)
      top: 50%
      transform: translate(-50%, -60%)

  &__shape
    display: block
    position: absolute
    left: 0
    bottom: 0
    transition: all 0.8s cubic-bezier(0.33, 1, 0.68, 1)
    transform: translate(-100%, 100%)
    transition-delay: 0.4s

    &.active
      transform: none

    +max($bp-lg)
      transform: scale(0.6) translate(-140%, 140%)

      &.active
        transform: scale(0.6) translate(-40%, 40%)

  &__title
    width: 100%
    max-width: 593px
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.14
    text-transform: uppercase
    padding-bottom: 20px
    color: $white
    z-index: 1
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

    +max($bp-xxs)
      max-width: 278px
      padding-bottom: 32px

  &__scrollBox
    display: flex
    align-items: center
    padding-bottom: 60px
    cursor: pointer
    z-index: 1
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

    &:hover
      .banner__circle
        transform: scale(1.05)
      .banner__text
        color: darken($white, 10%)

    +max($bp-md)
      display: none

  &__circle
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid #ffffff40
    min-height: 52px
    min-width: 52px
    height: 52px
    width: 52px
    margin-right: 20px
    border-radius: 50%
    transition: all 0.2s linear

  &__text
    color: $white
    font-weight: 200
    font-size: 16px
    line-height: 1.18
    transition: all 0.2s linear

    b
      font-weight: 400
      text-decoration: underline

    span
      font-weight: 600

  &__logo
    margin-bottom: 20px
    z-index: 1
    position: relative
    max-width: 300px
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

    img
      display: block
      width: 100%

  &__playButton
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 97px
    left: 24px
    width: 64px
    height: 64px
    background-color: $black
    border-radius: 50%
    opacity: 0.6
    cursor: pointer
    z-index: 1

    &.-hidden
      display: none

    &:hover
      opacity: 1

    +max($bp-md)
      top: 91px

    +max($bp-sm)
      width: 52px
      height: 52px

      &:hover
        opacity: 0.6

    +max($bp-xs)
      width: 40px
      height: 40px
      left: 16px

    img
      width: 100%
      max-width: 40px
      cursor: pointer

      &.-hidden
        display: none

      +max($bp-sm)
        max-width: 36px

      +max($bp-xs)
        max-width: 28px

  &__videoPopup
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: 0
    visibility: hidden
    z-index: -1
    transition: all 0.3s linear

    &.-active
      opacity: 1
      visibility: visible
      z-index: 100

      .banner__mainVideo
        display: block

  &__videoBackdrop
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(0, 0, 0, 0.75)

  &__videoWrapper
    width: 100%
    max-width: 848px
    padding: 0 32px
    position: relative

    +max($bp-md)
      padding: 0 24px

  &__videoClose
    display: block
    position: absolute
    top: -40px
    right: -8px
    width: 100%
    max-width: 32px
    opacity: 0.75
    cursor: pointer

    +max($bp-md)
      top: -50px
      right: 20px

    &:hover
      opacity: 1

  &__mainVideo
    display: none
    width: 100%
