.banner 
  img.banner__photoInBg.-leftOnMobile(src="./assets/images/banner-homepage.png")
  .banner__container
    img.banner__shape(src="./assets/images/banner-green-shape.svg")
    .banner__title we build for inspiring communities i fulfilling lives
    .banner__scrollBox
      .banner__circle 
        img(src="assets/images/arrow-down.svg")
      .banner__text Scroll down to 
        br
        b explore properties
    include ../contactCircles/contactCircles
