.footer
  display: block
  background-color: $purple
  width: 100%
  position: relative
  z-index: 101

  &__container
    +container

  &__box
    display: flex
    flex-direction: column

  &__rowTop
    padding-bottom: 40px

  &__rowBottom
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    border-top: 1px solid #ffffff40
    padding: 53px 0px

    +max($bp-lg)
      flex-direction: column
      align-items: flex-start

    +max($bp-md)
      padding-top: 36px
      padding-bottom: 40px


  &__left
    display: flex
    align-items: center
    +max($bp-lg)
      width: 100%
      flex-direction: column 
      align-items: stretch
      gap: 30px

  &__list
    display: flex
    align-items: center

    +max($bp-lg)
      padding-bottom: 36px

    +max($bp-sm)
      flex-direction: column
      align-items: flex-start

  &__listItem
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 12px
    line-height: 1.16
    letter-spacing: 0.1em
    text-transform: uppercase
    padding-right: 75px

    +max($bp-xxlg)
      padding-right: 35px

    +max($bp-sm)
      padding-right: 0
      padding-bottom: 20px

      &:last-child
        padding-bottom: 0px

  &__link
    text-decoration: none
    color: $white
    cursor: pointer

    &:hover
      color: darken($white, 10%)
      text-decoration: underline

  &__right
    display: flex
    align-items: center

    +max($bp-lg)
      align-self: flex-end
      flex-direction: column
      align-self: flex-start
      align-items: flex-start

      img
        order: -1

    img
      max-width: 36px



  &__text
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 12px
    line-height: 1.16
    letter-spacing: 0.1em
    text-transform: uppercase
    padding-right: 75px
    color: $white
    padding-right: 30px

    +max($bp-xxlg)
      padding-right: 15px

    +max($bp-lg)
      padding-right: 0
      padding-top: 24px

  &__top
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 40px
    +max($bp-sm)
      grid-template-columns: 100%

  &__title
    color: $white
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 14px
    line-height: 1.2
    letter-spacing: 0.1em
    text-transform: uppercase
    text-decoration: none
    margin-bottom: 20px

  &__column
    padding-left: 20px

  &__second_link
    color: $white
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 12px
    line-height: 1.16
    letter-spacing: 0.1em
    text-transform: uppercase
    text-decoration: none
    margin-bottom: 8px

  &__link_url
    text-decoration: none
    color: $white
    cursor: pointer

    &:hover
      color: darken($white, 10%)
      text-decoration: underline

  &__socials 
    display: flex
    align-items: center
    &:not(:empty)
      margin-right: 30px

  &__social
    display: block 
    width: max-content
    cursor: pointer
    margin-right: 30px
    transition: all 0.2s linear

    img
      display: block 
      width: 20px

    &:hover 
      opacity: 0.75



