footer.footer 
  .footer__container 
    .footer__box
      .footer__left 
        ul.footer__list 
          li.footer__listItem
            a.footer__link(href="#" title="privacy policy") privacy policy
          li.footer__listItem
            a.footer__link(href="#" title="cookies") cookies
          li.footer__listItem
            a.footer__link(href="#" title="career") career
          li.footer__listItem
            a.footer__link(href="#" title="board members") board members
      .footer__right 
        .footer__text COPYRIGHT BY tital real estate
        img(src="assets/images/logo-mini.svg")