.callBox 
  .callBox__box
    .callBox__title We will help you decide which house suits you best.
    a.callBox__button(href="tel:123-456-7890" title="call us") CALL Us
    .callBox__alternative or chat us on  
      a.callBox__link.-whatsApp(title="chat us on WhatsApp") WhatsApp
      img.callBox__whatsApp(src="assets/images/whatsApp.svg" alt="")
    .callBox__bottom You can also leave 
      a.callBox__link.-openContactForm contact details
      |  and we will back to You!
    .callBox__formPlace 
      | // here form please 
