.callBox
  display: none
  position: absolute
  bottom: calc(100% + 50px)
  z-index: 2147483603
  right: 0
  width: 450px

  &:after
    content: url("../images/rectangle-white.svg")
    display: block
    position: absolute
    top: calc(100% - 1px)
    right: 0

  +max($bp-md)
    right: auto
    left: 0

    &:after
      right: auto
      left: 0
      transform: scale(-1, 1)

    &.-fixed
      position: fixed
      bottom: 110px
      right: 24px
      max-width: calc(100% - 48px) !important
      left: auto

      &:after
        transform: none
        right: 0
        left: auto


  &__box
    background-color: $white
    padding: 50px 35px 40px 35px
    max-height: calc(100vh - 230px)
    overflow: auto

    &::-webkit-scrollbar
      display: none

    +max($bp-md)
      padding: 48px 24px 24px 24px

  &__title
    font-weight: 400
    font-size: 32px
    line-height: 1.25
    color: $black
    padding-bottom: 30px
    padding-right: 10px

    +max($bp-md)
      font-size: 24px
      padding-bottom: 24px

  &__button
    display: inline-flex
    align-items: center
    padding: 17px 56px
    background-color: $green
    color: $white
    margin-bottom: 25px
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 12px
    line-height: 1.16
    letter-spacing: 0.1em
    text-transform: uppercase
    cursor: pointer
    text-decoration: none

    &:before
      content: url("../images/call.svg")
      display: block
      margin-right: 10px

    &:hover
      color: $white
      text-decoration: none
      background-color: lighten($green, 5%)

  &__alternative
    display: flex
    align-items: center
    flex-wrap: wrap
    font-size: 16px
    line-height: 1.5
    color: $grey-7
    padding-bottom: 80px

    +max($bp-md)
      padding-bottom: 48px

  &__link
    color: $black
    line-height: 1
    border-bottom: 1px solid $black
    text-decoration: none
    font-weight: 500
    font-family: "Gotham Medium"
    cursor: pointer

    &:hover
      color: $black
      border-bottom: 0
      text-decoration: none

    &.-whatsApp
      margin-left: 4px

  &__whatsApp
    display: inline-block
    margin-left: 8px

  &__bottom
    width: 100%
    padding-top: 20px
    border-top: 1px solid $grey-c4
    font-size: 16px
    line-height: 1.5
    color: $grey-7

    +max($bp-md)
      padding-top: 16px


  &__formPlace
    display: block

    .crmWebToEntityForm
      padding: 0 !important
      max-width: 100% !important

    form
      display: grid
      grid-template-columns: 100%

    input
      -webkit-appearance: none

    .zcwf_title
      display: none

    .zcwf_row
      position: relative
      grid-column: 1/4
      margin: 0 0 25px 0 !important

      &:nth-last-of-type(3)
        margin-top: 15px !important
        grid-column: 1/4
        +max($bp-sm)
          grid-column: 1/4
      &:nth-last-of-type(2)
        margin-top: 15px !important
        grid-column: 1/4
        +max($bp-sm)
          grid-column: 1/4

    .zcwf_col_lab
      padding: 0 !important
      margin: 0 !important
      position: absolute
      top: 50%
      transform: translateY(-50%)
      font-family: "Gotham", sans-serif !important
      user-select: none

      label
        font-size: 24px
        line-height: 1.2
        white-space: nowrap

        span
          color: $green !important

    .zcwf_col_fld
      padding: 0 !important
      margin: 0 !important
      font-family: "Gotham", sans-serif !important
      width: 100% !important

      input[type="text"]
        -webkit-appearance: none
        width: 100% !important
        border-radius: 0 !important
        outline: none
        padding: 15px 0
        font-size: 24px
        line-height: 1.2
        font-family: inherit
        background-color: transparent !important

        &::placeholder
          font-size: inherit !important

      textarea
        width: 100% !important
        border-radius: 0 !important
        outline: none
        padding: 15px 0
        font-size: 24px
        line-height: 1.2
        font-family: inherit
        background-color: transparent !important

    .zcwf_lblLeft .zcwf_col_fld input[type="text"],
    .zcwf_lblLeft .zcwf_col_fld textarea,
      border: none !important
      border-bottom: 1px solid $black !important

    .zcwf_privacy
      display: flex
      align-items: center
      flex-wrap: wrap
      padding: 0 !important
      width: 100% !important

      & > div:last-child
        font-size: 18px !important
        padding: 0 !important
        margin-top: 4px
        flex-basis: 100%

    .newCustomchkbox-md
      display: block
      margin-right: 11px

      input[type="checkbox"]
        width: 20px
        min-width: 20px
        height: 20px
        border: 1px solid $alto
        cursor: pointer

        &:checked
          border-color: $black
          background-color: $black
          background-image: url('../images/checked.svg')
          background-repeat: no-repeat
          background-size: 100% 100%
          background-position: center center



    .zcwf_privacy_txt
      color: $grey !important
      font-family: "Brix Sans", sans-serif !important
      font-size: 16px !important
      line-height: 1.2 !important
      padding: 0 !important
      margin: 0 !important

      a
        color: $black !important
        text-decoration: underline

    .zcwf_button[type="submit"]
      -webkit-appearance: none
      font-family: "Gotham Bold", sans-serif !important
      padding: 19px 64px !important
      width: 100%
      max-width: 100% !important
      margin: 0 !important
      background-color: $green
      border: 0
      border-radius: 0
      color: $white
      font-size: 12px
      font-weight: 700
      line-height: 1.2
      text-transform: uppercase
      text-align: center

    .zcwf_button[type="reset"]
      display: none

  & > div 
    width: 100%

  .zf-templateWrapper
    border: 0 

  .zf-tempHeadContBdr
    display: none

  .zf-tempHeadContBdr .zf-frmTitle
    color: $black
    font-size: 28px

  .zf-templateWidth
    width: 100%

  .zf-tempHeadBdr
    display: none

  .zf-templateWrapper
    border-radius: 0
    border: 0
    box-shadow: none

  .zf-labelName
    padding: 0
    margin: 0
    position: absolute
    top: 50%
    transform: translateY(-50%)
    font-family: "Gotham", sans-serif
    user-select: none
    font-size: 24px
    line-height: 1.2
    font-weight: 400
    white-space: nowrap

    em.zf-important
      color: $purple !important
      font-size: inherit !important
    
    &.relative
      position: relative
      padding-top: 20px
      transform: none
      padding-bottom: 8px !important

  input
    width: 100%
    border-radius: 0
    outline: none
    padding: 15px 0
    font-size: 24px
    line-height: 1.2
    font-family: inherit
    background-color: transparent
    border: none
    border-bottom: 1px solid #00000080
    position: relative

  textarea
    position: relative
    width: 100%
    border-radius: 0
    outline: none
    padding: 15px 0
    height: 59px
    font-size: 24px
    line-height: 1.2
    font-family: inherit
    background-color: transparent
    resize: none
    border: none
    border-bottom: 1px solid #00000080

  .zf_privacy
    display: flex
    align-items: center
    flex-wrap: wrap
    padding: 0
    width: 100%

    & > div:last-child
      font-size: 18px
      padding: 0
      margin-top: 4px
      flex-basis: 100%

  .newCustomchkbox-md
    display: block
    margin-right: 11px

  input[type="checkbox"]
    -webkit-appearance: none
    border: 1px solid $alto
    cursor: pointer
    margin: 0 
    min-width: 13px

    &:checked
      border-color: $black
      background-color: $black
      background-image: url('../images/checked.svg')
      background-repeat: no-repeat
      background-size: 100% 100%
      background-position: center center


  .zf_privacy_txt
    color: $grey
    font-family: "Brix Sans", sans-serif
    font-size: 16px
    line-height: 1.2
    padding: 0
    margin: 0

    a
      color: $black

  button.zf-submitColor
    font-family: "Gotham Bold", sans-serif
    padding: 18px 64px
    margin: 0
    background-color: transparent
    color: $black
    border: 1px solid $black
    border-radius: 0
    font-size: 12px
    font-weight: 400
    line-height: 1.2
    text-transform: uppercase
    text-align: center
    cursor: pointer
    width: 100%
    max-width: 224px

    +max($bp-md)
      position: static
      max-width: 100%

  .zf_button[type="reset"]
    display: none

  .zf-small .zf-phwrapper
    width: 100%

  span label
    display: none

  .zf-tempFrmWrapper
    padding: 10px 0px
    position: relative
    margin: 0

  .zf-tempFrmWrapper .zf-labelName
    color: #000

  .zf-topAlign .zf-tempFrmWrapper .zf-labelName
    padding-bottom: 0

  .zf-termsAccept
    display: flex
    align-items: baseline

  .zf-termsAccept label
    color: $grey
    margin-left: 10px
    font-size: 16px
    line-height: 1.25
    font-family: "Brix Sans", sans-serif

    a
      color: $black
      text-decoration: underline

    +max($bp-md)
      padding-right: 0

  .zf-subContWrap
    margin: 0

  .zf-fmFooter
    position: relative
    +max($bp-md)
      padding: 0
      padding-top: 25px
  
  .zf-tempFrmWrapper .zf-tempContDiv
    position: relative

  .zf-sideBySide .zf-tempContDiv span label
    font-size: 18px

  .zf-small .zf-tempContDiv .zf-form-sBox
    width: 100%
    padding: 15px 0px
    font-size: 24px
    line-height: 1.2
    font-family: inherit
    background-color: transparent
    border: none
    border-bottom: 1px solid #00000080
    outline: none

  .zf-tempContDiv input[type='file']
    max-width: 100%




.customModal
  display: none
  position: fixed
  z-index: 2147483602
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: $black
  opacity: 0.5


 