doctype html
html(lang="pl")
  head
    title TILAL
    meta(charset='utf-8')
    meta(name='title', content='Szablon')
    meta(name='description', content='Szablon opis')
    meta(name='keywords', content='Szablon keywords')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='./assets/styles/main.min.css', type='text/css')
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png")
    link(rel="manifest" href="./assets/favicon/site.webmanifest")
    link(rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
  body
    include ../header/header
    block content

    include ../newsletter/newsletter
    include ../footer/footer
    script(async, src='./assets/scripts/main41.min.js')
