.contactCircles
  display: flex
  position: absolute
  align-items: center
  right: 19px
  bottom: 20px
  opacity: 0
  transition: all 0.3s linear
  transition-delay: 0.4s

  &.active
    opacity: 1

  +max($bp-md)
    position: static
    padding-bottom: 32px

  &__info
    display: block
    position: relative
    padding: 3px 10px
    font-weight: 400
    font-size: 12px
    line-height: 1.92
    color: $white
    background-color: $green

    &:after
      display: block
      position: absolute
      content: url('../images/arrow-right-green.svg')
      right: -5px
      top: 50%
      transform: translateY(-50%)

    +max($bp-md)
      display: none

  &__circleBox
    display: block
    position: relative

    +max($bp-md)
      position: relative
      top: 0
      transition: all 0.3s linear


      &.-sticky
        position: fixed
        top: calc(100% - 70px)
        right: 19px
        z-index: 1000

        &.-open
          z-index:  1000

        .contactCircles__circle
          box-shadow: 0 0 18px 8px rgba(0, 0, 0, 0.1)


        .callBox
          right: 0
          left: auto

          &:after
            transform: none
            right: 0
            left: auto

  &__circle
    display: flex
    position: relative
    align-items: center
    justify-content: center
    width: 59px
    height: 59px
    min-width: 59px
    min-height: 59px
    border: 4px solid $white
    background-color: $green
    margin-left: 10px
    border-radius: 50%
    cursor: pointer
    transition: all 0.2s linear

    &:hover
      transform: scale(1.05)

    img
      max-width: 100%

    &.-grey
      border: none
      background-color: $grey

    +max($bp-md)
      margin-left: 0

      &.-grey
        margin-left: 24px

    &.-open
      background-color: $white
      z-index: 2147483603

      &:hover
      transform: none

    &.-open ~ .contactCircles__close
      display: flex
      z-index: 2147483603

    &.-open > img
      filter: invert(100%)

  &__close
    display: none
    position: absolute
    height: 25px
    width: 25px
    top: -8px
    right: -8px
    background-color: $green
    border-radius: 50%
    align-items: center
    justify-content: center
    cursor: pointer

    &:hover
      transform: scale(1.05)

    +max($bp-md)
      right: auto
      left: -4px

    img
      max-width: 8px
      max-height: 8px


#fc_frame, #fc_frame.fc-widget-small
  transition: all 0.2s linear
