.contactCircles
  .contactCircles__info Need help? 
  .contactCircles__circleBox
    .contactCircles__circle.-openForm 
      img(src="assets/images/phone.svg")
    .contactCircles__close 
      img(src="assets/images/close-small.svg")
    include ../callBox/callBox
  .contactCircles__circle.-grey 
    img(src="assets/images/messages.png")

.customModal 
