.searchOffCanvas
  position: absolute
  top: 0
  left: 0

  &.-open &__backdrop
    z-index: 1499
    opacity: 1
    visibility: visible
    pointer-events: all

  &.-open &__bg
    z-index: 1500
    transform: none

  &__backdrop
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(34, 34, 34, 0.5)
    z-index: -100
    opacity: 0
    visibility: hidden
    pointer-events: none
    transition: all 0.2s linear

  &__bg
    display: flex
    flex-direction: column
    justify-content: space-evenly
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 50vh
    transform: translateY(-100%)
    z-index: 1500
    background-color: $white
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05)
    transition: transform 0.2s ease-in

    +max($bp-md)
      height: 100%

  &__close
    position: absolute
    top: 14px
    right: 14px
    padding: 8px
    cursor: pointer
    border-radius: 50%
    transition: all 0.1s linear

    +max($bp-md)
      top: 10px
      right: 10px

    img
      display: block
      width: 100%
      max-width: 14px

    &:hover
      background-color: $half-white
      transform: scale(1.1)

  &__top
    padding: 20px 50px
    border-bottom: 1px solid $light-grey

    +max($bp-md)
      padding: 20px

  &__title
    color: $black
    font-size: 32px
    line-height: 1.2
    margin-bottom: 30px

    +max($bp-md)
      font-size: 24px
      margin-bottom: 24px

  &__row
    display: flex
    align-items: center

    +max($bp-md)
      flex-direction: column
      align-items: flex-start

  &__mapButton
    margin-right: 15px

    +max($bp-md)
      margin-right: 0
      margin-bottom: 15px

  &__button
    display: flex
    align-items: center
    background-color: $green-10
    border: none
    padding: 15px 41px
    font-family: "Almarai", sans-serif
    font-size: 15px
    line-height: 1.2
    color: $green
    cursor: pointer
    transition: background-color 0.2s linear

    &::before
      display: block
      content: url('../images/map.svg')
      margin-right: 8px
      width: 18px
      height: 18px

    &:hover
      background-color: $green-20

  &__smallText
    font-size: 10px
    line-height: 1.2
    color: $grey

  &__inputPlace
    margin-left: 15px
    width: 100%
    max-width: 520px
    position: relative

    +max($bp-md)
      margin-left: 0
      margin-top: 15px

  &__input
    width: 100%
    border: 1px solid $light-grey
    border-right: 0
    +font-almarai
    font-size: 15px
    line-height: 1.2
    color: $black-22
    padding: 16px 52px 16px 16px

    &::placeholder
      color: $dove

  &__searchButton
    position: absolute
    top: 1px
    right: 1px
    display: flex
    justify-content: center
    align-items: center
    background-color: $white
    border: 1px solid $light-grey
    border-left: 0
    padding: 15px
    pointer-events: none
    z-index: 1

    img
      display: block
      width: 18px
      height: 18px
      transition: all 0.1s linear

  &__bottom
    padding: 50px

    +max($bp-md)
      padding: 24px

  &__text
    color: $dove
    font-size: 16px
    line-height: 1.2
    margin-bottom: 20px

  &__cities
    display: flex
    flex-direction: column
    align-items: flex-start

  &__city
    display: block
    color: $black-22
    font-size: 15px
    line-height: 1.2
    font-family: "Almarai", sans-serif
    text-decoration: none

    &:not(:last-child)
      margin-bottom: 15px

    &:hover
      color: $grey-7
