.searchOffCanvas
  .searchOffCanvas__backdrop
  .searchOffCanvas__bg
    .searchOffCanvas__close
      img(src="./assets/images/close-black.svg" alt="")
    .searchOffCanvas__top
      .searchOffCanvas__title Search for home
      .searchOffCanvas__row
        .searchOffCanvas__mapButton
          button.searchOffCanvas__button Search by map
        .searchOffCanvas__smallText OR
        .searchOffCanvas__inputPlace
          input.searchOffCanvas__input(type="text" placeholder="Enter city")
          button.searchOffCanvas__searchButton
            img(src="./assets/images/search-green.svg" alt="")
    .searchOffCanvas__bottom
      .searchOffCanvas__text Search by city
      .searchOffCanvas__cities
        a.searchOffCanvas__city(href="#") Jeddah
        a.searchOffCanvas__city(href="#") Mecca
        a.searchOffCanvas__city(href="#") Riyadh
