.mapSectionModal
  position: absolute
  top: 0
  left: 0

  &.-open &__backdrop
    z-index: 1502
    opacity: 1
    visibility: visible
    pointer-events: all

  &.-open &__bg
    z-index: 1503
    opacity: 1
    visibility: visible
    pointer-events: all

  &__backdrop
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(34, 34, 34, 0.5)
    z-index: -100
    opacity: 0
    visibility: hidden
    pointer-events: none

  &__bg
    display: flex
    flex-direction: column
    justify-content: space-between
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    max-width: 600px
    height: 100%
    max-height: 80vh
    background-color: $white
    z-index: -100
    opacity: 0
    visibility: hidden
    pointer-events: none

    +max($bp-md)
      max-width: 100vw
      max-height: 100vh

  &__close
    position: absolute
    top: 14px
    right: 14px
    padding: 8px
    cursor: pointer
    border-radius: 50%
    transition: all 0.1s linear

    +max($bp-md)
      top: 10px
      right: 10px

    img
      display: block
      width: 100%
      max-width: 14px

    &:hover
      background-color: $half-white
      transform: scale(1.1)

  &__main
    padding: 40px
    overflow-y: auto
    max-height: calc(80vh - 89px)
    scrollbar-color: $green transparent
    scrollbar-width: thin

    &::-webkit-scrollbar
      width: 6px

      &-thumb
        background-color: $green

      &-track
        background-color: transparent

    +max($bp-md)
      padding: 24px

  &__title
    color: $black
    font-size: 32px
    line-height: 1.2
    margin-bottom: 30px

    +max($bp-md)
      font-size: 24px
      margin-bottom: 24px

  &__form
    display: flex
    flex-direction: column

  &__control
    display: flex
    flex-direction: column

    &:not(:last-child)
      margin-bottom: 30px

      +max($bp-md)
        margin-bottom: 24px

  &__label
    color: $grey
    font-size: 12px
    line-height: 1.2
    letter-spacing: 0.1em
    font-family: "Gotham Bold", sans-serif
    text-transform: uppercase
    margin-bottom: 10px

    +max($bp-md)
      margin-bottom: 8px

  &__input
    width: 100%
    padding: 12px 14px
    border: 1px solid $light-grey
    color: $black-22
    font-size: 15px
    line-height: 1.2
    +font-gotham

    &::placeholder
      color: $dove

  &__homeTypes
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 8px
    align-items: center

    +max($bp-xxs)
      grid-template-columns: 100%

  &__homeType
    width: 100%
    position: relative

  &__homeTypeInput
    position: absolute
    z-index: -1
    visibility: hidden
    opacity: 0

    &:checked + .mapSectionModal__homeTypeLabel
      background-color: $green-10
      border-color: $green-10
      color: $green

    &:checked + .mapSectionModal__homeTypeLabel:hover
      background-color: $green-10
      border-color: $green-10
      color: $green

  &__homeTypeLabel
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    width: 100%
    border: 1px solid $light-grey
    padding: 14px 16px
    color: $grey
    font-size: 12px
    line-height: 1.2
    letter-spacing: 0.1em
    text-transform: uppercase
    font-family: "Gotham Bold", sans-serif
    cursor: pointer
    transition: all 0.2s linear

    &:hover
      background-color: $gallery

  &__slider
    margin-bottom: 5px

  &__tips
    display: flex
    justify-content: center
    align-items: center
    font-size: 17px
    line-height: 1.18
    font-family: "Gotham Bold", sans-serif
    color: $green
    margin-bottom: 15px

  &__tip
    &::before
      display: inline-block
      vertical-align: super
      content: 'SAR'
      font-size: 10px
      line-height: 1.2

  &__tipLine
    margin: 0 5px

  &__bar
    border-radius: 0
    box-shadow: none
    border: none
    background-color: $light-grey
    height: 6px

    .noUi-connect
      background-color: $green

    .noUi-origin
      width: calc(100% - 16px)
      right: 17px

    .noUi-handle
      width: 16px
      height: 16px
      border-radius: 0
      border: 4px solid $green
      background-color: $white
      cursor: pointer

      &::before, &::after
        display: none

      &:hover
        transform: scale(1.1)

  &__number
    display: flex
    align-items: center
    width: 100%
    max-width: 225px

    +max($bp-md)
      max-width: 100%

  &__numberButton
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid $light-grey
    background-color: $white
    width: 44px
    min-width: 44px
    height: 44px
    cursor: pointer

    &:first-child
      border-right: none

    &:last-child
      border-left: none

    img
      display: block
      width: 16px

    &:hover
      img
        transform: scale(1.1)

  &__numberPresentation
    border: 1px solid $light-grey
    border-width: 1px 0
    padding: 12px 0
    color: $black-22
    font-size: 15px
    line-height: 1.2
    text-transform: uppercase
    font-family: "Gotham Bold", sans-serif
    text-align: center
    outline: none
    cursor: default
    width: 100%

  &__bottom
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 40px
    box-shadow: inset 0px 1px 0px $light-grey

    +max($bp-md)
      padding-left: 24px
      padding-right: 24px

    +max($bp-xs)
      align-items: flex-end

  &__clear
    display: flex
    align-items: center
    color: $black-22
    text-transform: uppercase
    background: $white
    font-size: 12px
    line-height: 1.2
    font-family: "Gotham Bold", sans-serif
    padding: 12px 0
    border: none
    cursor: pointer

    &::before
      display: block
      content: url('../images/filters.svg')
      width: 24px
      height: 24px
      margin-right: 8px

    &:hover::before
      transform: scale(1.1)

  &__resultWrapper
    display: flex
    align-items: center

    +max($bp-xs)
      flex-direction: column
      align-items: flex-end

  &__result
    display: flex
    align-items: center
    color: $dove
    font-size: 15px
    line-height: 1.2
    margin-right: 25px

    +max($bp-xs)
      margin-right: 0
      margin-bottom: 16px

  &__resultCount
    margin: 0 3px

  &__showButton
    text-transform: uppercase
    font-size: 12px
    line-height: 1.2
    letter-spacing: 0.1em
    color: $white
    background-color: $green
    padding: 17px 53px
    font-family: "Gotham Bold", sans-serif
    cursor: pointer
    transition: all 0.2s linear

    &:hover
      background-color: darken($green, 5)
