.menu
  padding: 0 24px
  margin-top: -20px

  +max($bp-md)
    padding-bottom: 20px
    margin-top: 0

    &.-desktop
      display: none

  &.-mobile
    display: none

    +max($bp-md)
      display: block
      padding-top: 5px

  &__inner
    display: flex
    align-items: center
    text-transform: uppercase
    flex-wrap: wrap

    +max($bp-md)
      width: 100%
      flex-direction: column
      align-items: flex-start

  &__item
    display: block
    padding-right: 20px
    white-space: nowrap
    margin-top: 20px

    &:last-child
      padding-right: 0

    +max($bp-xxlg)
      width: max-content

    +max($bp-md)
      padding-right: 0
      padding-bottom: 0
      width: 100%

      &:first-child
        .menu__link
          padding-top: 6px

      &:hover
        .menu__language
          display: block

    +max($bp-md)
      .menu__language
        display: block
      .wpml-ls-legacy-dropdown .wpml-ls-item
        border: 0

      .wpml-ls-legacy-dropdown .wpml-ls-sub-menu
        border-top: 0
        visibility: visible
        position: static

        li
          padding: 13px 0px !important


    +max($bp-xxs)
      width: 100%

    &.-mobile
      display: none

      +max($bp-md)
        display: block

  &__link
    display: block
    position: relative
    font-weight: 700
    font-size: 12px
    line-height: 1.16
    letter-spacing: 0.1em
    color: $white
    text-decoration: none
    cursor: pointer
    font-family: "Gotham Bold"
    padding: 10px 0px

    &:hover
      text-decoration: underline
      color: darken($white, 10%)

    +max($bp-md)
      padding: 21px 0px 8px 0px
      &:hover
        text-decoration: none

    +max($bp-xxs)
      width: 100%

  &__language
    display: none
    padding-left: 10px

  &__subItem
    color: $white
    padding: 21px 0px 8px 0px
    font-size: 12px
    line-height: 1.16
    letter-spacing: 0.1em
    color: $white
    text-decoration: none
    font-family: "Gotham Medium"


    img
      display: inline-block
      margin-right: 10px




