ul.menu.-desktop
  ul.menu__inner
    li.menu__item
      a.menu__link(href="#" title="PROJECTS") projects
    li.menu__item
      a.menu__link(href="#" title="ABOUT US") about Us
    li.menu__item
      a.menu__link(href="#" title="CONTACT US") contact Us
    li.menu__item.-mobile
      .menu__link language
      ul.menu__language
        li.menu__subItem(title="English")
          img(src="assets/images/english.png")
          | English
        li.menu__subItem(title="Arabic")
          img(src="assets/images/secondLanguage.png")
          | Arabic
ul.menu.-mobile
  ul.menu__inner
    li.menu__item
      a.menu__link(href="#" title="ABOUT US") about Us
    li.menu__item
      a.menu__link(href="#" title="CONTACT US") contact Us
    li.menu__item
      .menu__link language
      ul.menu__language
        li.menu__subItem(title="English")
          img(src="assets/images/english.png")
          | English
        li.menu__subItem(title="Arabic")
          img(src="assets/images/secondLanguage.png")
          | Arabic
    li.menu__item
      a.menu__link(href="#" title="JOIN VIP LIST") JOIN VIP LIST
    li.menu__item
      a.menu__link(href="#" title="CONTACT SALES") CONTACT SALES
