.floorPlan
  +container
  padding-bottom: 150px

  +max($bp-md)
    padding-bottom: 70px

  &__title
    font-weight: 400
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    color: $black
    margin-bottom: 50px
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__buttonHolder
    border-top: 1px solid $light-grey
    display: flex
    justify-content: center
    align-items: center
    padding-top: 27px
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

  &__button
    font-weight: 700
    font-size: 12px
    line-height: 1.36
    font-family: "Gotham Bold"
    color: $black
    padding-bottom: 5px
    border-bottom: 2px solid transparent
    text-align: center
    text-transform: uppercase
    cursor: pointer
    &:not(:first-child)
      margin-left: 80px
    &.-active
      border-color: $green
    +max($bp-md)
      &:not(:first-child)
        margin-left: 40px
    +max($bp-sm)
      &:not(:first-child)
        margin-left: 20px

  &__imageHolder
    padding-top: 80px
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1
    +max($bp-md)
      padding-top: 70px

  &__image
    display: none
    max-height: 75vh

    &.-active
      display: block
      margin: 0 auto
      max-width: 100%

  &__bottomBox
    margin-top: 122px
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 120px

    +max($bp-xlg)
      gap: 80px
    +max($bp-md)
      grid-template-columns: 100%
      gap: 60px

  &__text
    font-size: 20px
    line-height: 28px
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

  &__box
    display: flex
    flex-direction: column

  &__tag
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $blue
    margin-bottom: 25px
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__list
    position: relative
    list-style-type: none
    padding-left: 28px

    li
      font-size: 20px
      line-height: 30px
      color: $black-22
      padding-bottom: 15px
      opacity: 0
      transition: opacity 0.3s linear
      &.active
        opacity: 1

      &::before
        display: inline-block
        position: absolute
        content: "\2022"
        color: $blue
        font-weight: bold
        left: 0

      &:last-child
        padding-bottom: 0
