.floorPlan
  include ../customHr/customHr
  .floorPlan__title FLOOR PLAN
  .floorPlan__buttonHolder
    .floorPlan__button.-active 1st floor
    .floorPlan__button 2nd floor
    .floorPlan__button 3rd floor
  .floorPlan__imageHolder
    img.floorPlan__image.-active(src="./assets/images/plan.png")
    img.floorPlan__image(src="./assets/images/plan.png")
    img.floorPlan__image(src="./assets/images/plan.png")
  .floorPlan__bottomBox
    .floorPlan__text Holisticly network best-of-breed collaboration and idea-sharing whereas fully tested infrastructures. Authoritatively impact competitive data whereas front-end deliverables. Competently unleash open-source partnerships through value-added portals. Proactively predominate future-proof imperative.
    .floorPlan__box
      .floorPlan__tag main benefits
      ul.floorPlan__list
        li Great location
        li A clubhouse your children will love
        li Where family living springs to life

