.investmentGallery
  display: block
  width: 100%
  padding-bottom: 150px

  +max($bp-md)
    padding-bottom: 70px

  &__container
    +container

  &__grid
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 40px
    width: 100%
    +max($bp-md)
      grid-template-columns: 100%

  &__title
    font-weight: 400
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    color: $black
    margin-bottom: 50px
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__image
    display: block
    width: 100%
    margin-bottom: 35px
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1
    +max($bp-xlg)
    margin-bottom: 24px
    +max($bp-md)
      margin-bottom: 15px

  &__text
    font-size: 20px
    line-height: 1.4
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1
