.investmentGallery
  .investmentGallery__container
    include ../customHr/customHr
    .investmentGallery__title GALLERY
    .investmentGallery__grid
      .investmentGallery__box
        img.investmentGallery__image(src="./assets/images/rooftop.png")
        .investmentGallery__text Rooftop deck
      .investmentGallery__box
        img.investmentGallery__image(src="./assets/images/rooftop.png")
        .investmentGallery__text Wood elevation
      .investmentGallery__box
        img.investmentGallery__image(src="./assets/images/rooftop.png")
        .investmentGallery__text Open-living space
      .investmentGallery__box
        img.investmentGallery__image(src="./assets/images/rooftop.png")
        .investmentGallery__text Big windows

