.imageText
  .imageText__container 
    include ../customHr/customHr
    .imageText__box 
      .imageText__left 
        .imageText__title Alothman Holding
        .imageText__imageBox
          img.imageText__image(src="assets/images/imageText-3.png" alt="")
          img.imageText__image.-mobile(src="assets/images/imageText-3.png" alt="")
      .imageText__right
        div  
          .imageText__text Incepted as a Trading & Contracting Company, Al 
            a(href="#" title=" Othman Holding’s") Othman Holding’s
            |  successful story starts back in 1977 as a material supplier agency, supplying spare parts to the Industrial Market.
          .imageText__subtext In 1982, Al-Othman Agricultural Production & Processing Company (NADA) was established to become one of the largest dairy product suppliers in the region. Presently, Al Othman Holding has engaged in the IT, Oil & Gas, packaging, and manufacturing industries.
        a.imageText__readMore(href="" title="read more") read more
