.imageText 
  display: block
  width: 100%
  overflow: hidden
  margin-bottom: 150px 

  +max($bp-md)
    margin-bottom: 88px

  &:nth-child(2n)
    .imageText__image

      +max($bp-xs)
        left: auto
        right: -24px
        transform: translateX(-100%)

  &__container
    +container

  &__box 
    display: grid 
    grid-template-columns: 1fr 508px
    gap: 100px

    +max($bp-xlg)
      gap: 50px 
      grid-template-columns: 1fr 320px

    +max($bp-md)
      grid-template-columns: 100%
      gap: 40px

  &__imageBox
    position: relative

  &__title 
    font-weight: 700 
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    color: $black
    padding-bottom: 50px
    opacity: 0 
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1  

    +max($bp-md)
      font-size: 32px
      line-height: 1.37
      padding-bottom: 32px 


  &__image
    display: block
    max-width: 100%
    opacity: 0
    transition: all 0.8s cubic-bezier(0.33, 1, 0.68, 1)
    transition-delay: 0.4s

    &.active
      opacity: 1
      transform: none !important

    +max($bp-xs)
      max-width: none 
      visibility: hidden

    &.-mobile
      display: none

      +max($bp-xs)
        display: block
        position: absolute
        visibility: visible
        max-width: none 
        left: -24px
        top: 0
        transform: translateX(100%)

  &__right 
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 0px 24px
    border-left: 1px solid $light-grey
    opacity: 0 
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1 

  &__text 
    font-weight: 400
    font-size: 22px
    line-height: 1.36
    color: $black 
    padding-bottom: 35px

    +max($bp-md)
      padding-bottom: 24px

    a 
      color: $blue 
      cursor: pointer
      text-decoration: none
      border-bottom: 1px solid $blue
      line-hight: 1

      &:hover 
        color: $blue 
        text-decoration: none
        border: 0

  &__subtext 
    font-weight: 400
    font-size: 18px
    line-height: 1.44
    color: $black-22
    padding-bottom: 48px

  &__readMore 
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 12px
    line-height: 1.16
    letter-spacing: 0.1em
    text-transform: uppercase
    text-decoration: none
    color: $black
    cursor: pointer

    &:hover 
      color: $black
      text-decoration: underline
