.imageText
  .imageText__container 
    include ../customHr/customHr
    .imageText__box 
      .imageText__left 
        .imageText__title Tamini Group
        .imageText__imageBox
          img.imageText__image(src="assets/images/imageText-1.png" alt="")
          img.imageText__image.-mobile(src="assets/images/imageText-1.png" alt="")
      .imageText__right
        div  
          .imageText__text 
            a(href="" title="Tamimi Group") Tamimi Group 
            | had its start when its late founder, Sheikh Ali bin Abdullah Al-Tamimi, decided to enter the world of entrepreneurship by establishing a Pipelines Installation Company, general contracting, and related works. 
          .imageText__subtext The Tamimi Group is active in the following sectors, import, and distribution, real estate development, power and industrial activities, food services and facility management.
        a.imageText__readMore(href="" title="read more") read more
