.imageText
  .imageText__container 
    include ../customHr/customHr
    .imageText__box 
      .imageText__left 
        .imageText__title IKK GROUP
        .imageText__imageBox
          img.imageText__image(src="assets/images/imageText-2.png" alt="")
          img.imageText__image.-mobile(src="assets/images/imageText-2.png" alt="")
      .imageText__right
        div  
          .imageText__text The 
            a(href="#" title="IKK Group") IKK Group 
            | is a major business institution serving the majority of the MENA region in the Industrial, Constructionand Trading fields.
          .imageText__subtext The IKK Group is recognized as one of the leading private corporations in the region with a major focus on the Construction Industry in general. With a consolidated turnover in excess of 4 billion SAR, the group has figured consistently in the top 50 private Saudi groups over the past decade.
        a.imageText__readMore(href="" title="read more") read more
