.promiseSectionItem
  display: flex
  justify-self: center
  flex-direction: column
  align-items: center
  opacity: 0
  transition: all 0.3s linear
  transition-delay: 0.4s
  +max($bp-sm)
    min-height: auto

  &.active
    opacity: 1

  &.-noText
    img
      order: -1
      margin-bottom: 24px

    .promiseSectionItem__name
      font-size: 16px
      color: $green
      padding-bottom: 0
      text-align: center

  &__name
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 16px
    line-height: 1.16
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $black
    text-align: center
    padding-bottom: 24px

  &__text
    font-weight: 400
    font-size: 18px
    line-height: 1.44
    color: $black
    text-align: center

  img
    display: block
    margin: 0 auto
    width: 96px
    max-height: 96px

    &.-hidden-on-desktop
      display: none

      +max($bp-md)
        display: block

  &__number
    color: $blue
    font-weight: 400
    font-size: 24px
    line-height: 1.2

    &.-hidden-on-mobile
      +max($bp-md)
        display: none

  &__top
    padding-bottom: 24px
    display: flex
    flex-direction: column
