.careerInfo 
  .careerInfo__container.-centerText 
    .careerInfo__box 
      .careerInfo__tag find out why you should trust us
      .careerInfo__text We have created an alliance of 
        a(href="" title="experienced partners") experienced partners 
        | operating in saudi arabia to meet the housing requirements in our region.