.careerInfo(data-section) 
  .careerInfo__container 
    .careerInfo__scroll 
      img(src="assets/images/arrow-down-black.svg") 
    .careerInfo__box 
      .careerInfo__text We focus on 
        a(href="#" title=" knowledge and experience")  knowledge and experience. 
        | Our board members, realize visions of amazing places to live.