.careerInfo(data-section)
  .careerInfo__container 
    .careerInfo__scroll 
      img(src="assets/images/arrow-down-black.svg") 
    .careerInfo__box 
      .careerInfo__text We are always interested in adding talented and qualified staff to our group. 
        a carrer@tilalre.com. 
      div
        img.careerInfo__img(src="assets/images/career-info.png" alt="")
        img.careerInfo__img-mobile(src="assets/images/career-info.png" alt="")
      .careerInfo__smallText Cultivate your talent with us!