.careerInfo
  display: block
  width: 100%
  padding-bottom: 150px
  overflow-x: hidden

  +max($bp-md)
    padding-top: 18px
    padding-bottom: 88px

  &__container
    +container
    position: relative
    display: flex
    justify-content: flex-end
    overflow: hidden

    &.-centerText
      justify-content: center

  &__scroll
    display: flex
    position: absolute
    align-items: center
    justify-content: center
    border: 1px solid #E9E9E9
    min-height: 52px
    min-width: 52px
    height: 52px
    width: 52px
    border-radius: 50%
    left: 100px
    top: 0
    cursor: pointer
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

    &:hover
      border: 1px solid #5f5f5f

    +max($bp-xxlg)
      left: 24px

    +max($bp-xlg)
      display: none

  &__box
    display: block
    width: 1100px
    max-width: 100%
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

    &:first-child
      width: 1000px

    div
      position: relative

  &__tag
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 12px
    line-height: 1.16
    letter-spacing: 0.1em
    text-transform: uppercase
    padding-bottom: 25px
    color: $blue

  &__text
    font-weight: 400
    font-size: 44px
    line-height: 1.2
    color: $black
    padding-bottom: 100px
    color: $black
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1


    a
      color: $blue
      text-decoration: none
      cursor: pointer
      border-bottom: 1px solid $blue
      line-height: 1

      &:hover
        color: $blue
        text-decoration: none
        border-bottom: 0

    +max($bp-md)
      font-size: 32px
      line-height: 1.37
      padding-bottom: 56px

      &:last-child
        padding-bottom: 0

    &:last-child
      padding-bottom: 0

  &__img
    display: block
    margin-bottom: 35px
    max-width: 100%
    opacity: 0
    transition: all 0.8s cubic-bezier(0.33, 1, 0.68, 1)
    width: 80%

    &.active
      transform: none
      opacity: 1

    +max($bp-md)
      margin-bottom: 24px
      transform: translateX(-100%)

    +max($bp-xs)
      position: absolute
      max-width: 100%

  &__img-mobile
    display: none

    +max($bp-xs)
      display: block
      visibility: hidden
      max-width: 100%
      margin-bottom: 24px


  &__smallText
    font-weight: 400
    font-size: 20px
    line-height: 1.4
    color: $black
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

