.newsletter
  display: block
  position: relative
  z-index: 100
  width: 100%
  background-color: $white
  background-image: url("../images/newsletter-shape.svg")
  background-repeat: no-repeat
  background-position: center top 120px
  background-size: cover
  transition: all 0.8s cubic-bezier(0.33, 1, 0.68, 1)

  &.active
    background-position: center top


  +max($bp-sm)
    background-image: url("../images/newsletter-shape-sm.svg")

  &__container
    +container
    display: flex
    align-items: flex-end
    justify-content: space-between
    padding-bottom: 48px
    min-height: 358px

    +max($bp-md)
      flex-direction: column
      min-height: 312px
      align-items: flex-start
      justify-content: flex-end

    & > div
      opacity: 0
      transition: all 0.3s linear
      transition-delay: 0.4s

      &.active
        opacity: 1

  &__title
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.14
    text-transform: uppercase
    color: $white
    padding-right: 40px

    +max($bp-md)
      font-size: 32px
      line-height: 1.37
      padding-bottom: 24px

  &__form
    width: 100%
    max-width: 604px

    +max($bp-md)
      max-width: 100%

    .quick_form_7_css
      position: relative
      overflow: hidden

    #Zc_SignupSuccess
      margin: 0 !important
      width: 100% !important
      top: 50%
      transform: translateY(-50%)

      td
        vertical-align: middle

    form
      padding: 0 !important
      margin-bottom: 3px

    input
      -webkit-appearance: none

    .SIGNUP_FLD
      margin: 0 !important
      height: 56px !important
      &:nth-of-type(2)
        border: 1px solid $white !important
        width: 63% !important
        +max($bp-sm)
          width: 81% !important
      &:nth-of-type(3)
        width: 37% !important
        margin-left: -5px !important
        +max($bp-sm)
          width: 19% !important


      input[type="text"]
        -webkit-appearance: none
        font-family: "Gotham", sans-serif !important
        color: $white !important
        font-size: 12px !important
        font-weight: 700
        line-height: 1.2
        letter-spacing: 0.1em
        padding: 20px !important
        background-color: transparent !important
        border: 0 !important
        width: 100% !important
        height: auto !important

        &::placeholder
          color: $white
          font-size: inherit
          font-weight: 700
          line-height: inherit
          letter-spacing: inherit

      input[type="button"]
        -webkit-appearance: none
        background-color: $white !important
        color: $purple !important
        font-size: 12px !important
        font-weight: 700
        line-height: 1.2
        letter-spacing: 0.1em
        border: none !important
        outline: none !important
        padding: 20px 85px !important
        cursor: pointer !important
        width: 100% !important
        border-radius: 0
        height: auto !important
        border: 1px solid $white !important
        text-transform: uppercase
        text-align: center
        margin: 0 !important
        +max($bp-sm)
          padding: 14px 23px !important
          font-size: 22px !important
          transform: translateY(3px)



  .newsletter__button
    &.-mobile
      display: none

      +max($bp-md)
        display: block

    &.-desktop
      display: block

      +max($bp-md)
        display: none





