.logos
  display: block
  width: 100%
  padding-bottom: 150px
  overflow-x: hidden

  +max($bp-md)
    padding-bottom: 70px

  &__container
    +container

  &__box
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    gap: 50px
    width: 100%

    +max($bp-md)
      gap: 30px

  &__title
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    text-align: center
    margin-bottom: 50px
    color: $black
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37


  &__item
    display: block 
    max-width: 300px
    opacity: 0
    transition: all 0.8s cubic-bezier(0.33, 1, 0.68, 1)
    transition-delay: 0.4s

    &.active
      opacity: 1

    img
      display: block
      max-width: 100%
      width: 100%
