.homesGrid
  +container
  padding-bottom: 150px

  +max($bp-md)
    padding-bottom: 70px

  &__title
    color: $black-22
    font-size: 44px
    line-height: 1.2
    margin-bottom: 50px
    text-transform: uppercase
    font-weight: 700
    font-family: "Gotham Bold"
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 40px
    +max($bp-md)
      grid-template-columns: 100%

  &__item
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15)
    opacity: 0
    transition: opacity 0.3s linear, box-shadow 0.2s linear
    &.active
      opacity: 1
    &:hover
      box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15)

  &__imageBox
    height: 283px
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    position: relative

  &__label
    position: absolute
    top: 15px
    right: 15px
    border-radius: 20px
    background-color: $green
    padding: 6px 10px
    color: $white
    font-size: 10px
    line-height: 1.2

  &__main
    padding: 40px 30px 35px

  &__name
    color: $black-22
    font-size: 20px
    line-height: 1.2
    margin-bottom: 10px
    font-weight: 700
    font-family: "Gotham Bold"
    text-transform: uppercase

  &__price
    color: $black
    font-size: 14px
    line-height: 1.2
    margin-bottom: 50px
    span
      font-weight: 600

  &__details
    display: grid
    grid-template-columns: 1fr 1fr 2fr
    column-gap: 36px
    row-gap: 15px

  &__value
    color: $black
    font-size: 14px
    font-weight: 600
    line-height: 1.2
    margin-bottom: 2px

  &__text
    color: $grey
    font-size: 13px
    line-height: 1.2

  &__bottom
    display: flex
    justify-content: center
    border-top: 1px solid $light-grey
    padding: 15px

  &__view
    text-transform: uppercase
    font-size: 12px
    line-height: 1.2
    color: $blue
    font-weight: 700
    font-family: "Gotham Bold"
