.homesGrid
  include ../customHr/customHr
  .homesGrid__title Homes
  .homesGrid__grid
    a.homesGrid__item(href="#")
      .homesGrid__imageBox(style="background-image:url('./assets/images/home-image.png')")
        .homesGrid__label 3D Walkthrough
      .homesGrid__main
        .homesGrid__name Single Villa B-01
        .homesGrid__price Starting at
          span $400,000
        .homesGrid__details
          .homesGrid__info
            .homesGrid__value 4
            .homesGrid__text bedrooms
          .homesGrid__info
            .homesGrid__value 4
            .homesGrid__text bedrooms
          .homesGrid__info
            .homesGrid__value 4
            .homesGrid__text bedrooms
          .homesGrid__info
            .homesGrid__value 4
            .homesGrid__text bedrooms
          .homesGrid__info
            .homesGrid__value 4
            .homesGrid__text bedrooms
          .homesGrid__info
            .homesGrid__value 4
            .homesGrid__text bedrooms
      .homesGrid__bottom
        .homesGrid__view View home design
