.cityFilters
  .cityFilters__container
    .cityFilters__mobileButton Filters
    .cityFilters__wrapper
      .cityFilters__filter.cityFilters__city
        label.cityFilters__label City
        input.cityFilters__cityInput(name="location" value="Riyadh")
      .cityFilters__filter.cityFilters__homeType
        label.cityFilters__label Home Type
        select.cityFilters__select(name="home-type")
          option(value="") Any
          option(value="villa") Villa
          option(value="duplex") Duplex
          option(value="penthouse") Penthouse
      .cityFilters__filter.cityFilters__price
        label.cityFilters__label Price Range
        .cityFilters__dropdown
          .cityFilters__trigger.-label
            span.cityFilters__triggerLabel Price Range
            span.cityFilters__triggerTip.-lower
            span.cityFilters__triggerTipLine -
            span.cityFilters__triggerTip.-upper
          .cityFilters__drop
            .cityFilters__slider
              .cityFilters__bar(data-start="0" data-end="3000000")
              .cityFilters__barInputs
                input.cityFilters__barInput.-lower(type="hidden" name="price-from")
                input.cityFilters__barInput.-upper(type="hidden" name="price-to")
      .cityFilters__filter.cityFilters__bedrooms
        label.cityFilters__label Bedrooms
        select.cityFilters__select(name="bedrooms")
          option(value="") Any
          option(value="2") 2+
          option(value="3") 3+
          option(value="4") 4+
      .cityFilters__filter.cityFilters__bathrooms
        label.cityFilters__label Bathrooms
        select.cityFilters__select(name="bathrooms")
          option(value="") Any
          option(value="2") 2+
          option(value="3") 3+
          option(value="4") 4+
