.cityFilters
  padding-top: 100px
  background: linear-gradient(#00000040 85px, #fff 100px)

  &__container
    +container

  &__mobileButton
    display: none
    width: 100%
    padding: 12px 14px
    border: 1px solid $light-grey
    color: $black-22
    font-size: 15px
    line-height: 1.2
    cursor: pointer
    text-align: center

    +max($bp-md)
      display: block

  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 10px
    padding-bottom: 10px

    +max($bp-md)
      display: none
      flex-direction: column
      align-items: stretch

      &.-open
        display: flex

  &__filter
    display: flex
    align-items: center

    +max($bp-xlg)
      flex-direction: column
      align-items: flex-start

    +max($bp-md)
      margin-bottom: 10px
      width: 100%

  &__label
    color: $grey
    font-size: 12px
    line-height: 1.2
    letter-spacing: 0.1em
    font-family: "Gotham Bold", sans-serif
    text-transform: uppercase
    margin-right: 10px
    white-space: nowrap

    +max($bp-xlg)
      margin-right: 0
      margin-bottom: 8px

  &__city
    width: 25%

    +max($bp-md)
      width: 100%

  &__cityInput
    width: 100%
    padding: 12px 14px
    border: 1px solid $light-grey
    color: $black-22
    font-size: 15px
    line-height: 1.2
    +font-gotham

    &::placeholder
      color: $dove

  &__dropdown
    position: relative
    width: 100%

  &__trigger
    width: 100%
    padding: 12px 14px
    border: 1px solid $light-grey
    color: $black-22
    font-size: 15px
    line-height: 1.2
    cursor: pointer
    text-align: center

    &:hover
      border-color: $grey

  &__drop
    display: none

    &.-open
      display: block
      position: absolute
      top: 100%
      left: 50%
      width: 200px
      padding: 20px
      background-color: $white
      z-index: 1000
      transform: translateX(-50%)
      box-shadow: 0px 2px 3px #00000030

  &__trigger
    display: flex
    justify-content: center
    align-items: center

  &__triggerLabel
    display: none

    .cityFilters__trigger.-label &
      display: block

  &__triggerTip
    .cityFilters__trigger.-label &
      display: none

  &__triggerTipLine
    margin: 0 3px
    .cityFilters__trigger.-label &
      display: none

  &__bar
    border-radius: 0
    box-shadow: none
    border: none
    background-color: $light-grey
    height: 6px

    .noUi-connect
      background-color: $green

    .noUi-origin
      width: calc(100% - 16px)
      right: 17px

    .noUi-handle
      width: 16px
      height: 16px
      border-radius: 0
      border: 4px solid $green
      background-color: $white
      cursor: pointer

      &::before, &::after
        display: none

      &:hover
        transform: scale(1.1)

  &__select
    padding: 12px
    border: 1px solid $light-grey
    +font-gotham

    & + .select2
      +max($bp-md)
        margin-bottom: 10px
        width: 100% !important

      .select2-selection
        border: 1px solid $light-grey
        border-radius: 0
        padding: 12px 20px 12px 12px
        height: auto

        &__rendered
          color: $black-22
          font-size: 15px
          line-height: 1.2
          padding: 0 !important

        &__arrow
          top: 50%
          transform: translateY(-50%)
