.imagesSection 
  display: block
  width: 100%
  overflow: hidden


  &__container 
    display: grid
    width: 100%
    max-width: 1600px
    padding: 0px 114px 0px 84px
    grid-template-columns: calc(50% - 100px) 50%
    gap: 100px
    margin: 0 auto 150px auto

    +max($bp-xlg)
      gap: 50px 
      grid-template-columns: calc(50% - 50px) 50%

    +max($bp-md)
      margin-bottom: 64px
      grid-template-columns: 100%
      padding: 0px 24px
      gap: 40px

  &__text 
    padding-top: 35px 
    margin-bottom: 80px
    border-top: 1px solid $light-grey 
    padding-right: 32px
    max-width: 400px 
    justify-self: end
    color: $black 
    font-weight: 400
    font-size: 20px
    line-height: 1.4
    opacity: 0 
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1 

    +max($bp-md)
      padding-right: 0
      justify-self: center
      margin: 0

  &__item 
    display: block 

    &:first-of-type
      grid-area: 1 / 2 / 3 / 3

      +max($bp-md)
        grid-area: auto
    
    picture 
      display: block 
     
    &.-image-to-right-on-mobile 
      +max($bp-xs)
        position: relative


        .imagesSection__img 
          position: absolute
          left: 56px
          top: 0
          max-width: none
          transform: translateX(100%)


    &.-image-to-left-on-mobile 
      +max($bp-xs)
        position: relative
        
        .imagesSection__img
          position: absolute
          right: 56px
          top: 0
          max-width: none
          transform: translateX(-100%)

  &__img 
    display: block 
    margin-bottom: 35px
    max-width: 100%
    opacity: 0
    transition: all 0.8s cubic-bezier(0.33, 1, 0.68, 1)

    &.active 
      transform: none !important
      opacity: 1


    +max($bp-md)
      margin-bottom: 25px

  &__img-mobile
    display: none

    +max($bp-xs)
      margin-bottom: 25px
      display: block 
      visibility: hidden

  &__caption 
    font-weight: 400
    font-size: 20px
    line-height: 1.4
    color: $black
    opacity: 0 
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1 

    



