.imagesSection(data-section)
  .imagesSection__container 
    p.imagesSection__text Leverage the supply chain, resources and expertise of over 115 companies from a variety of sectors.
    .imagesSection__item.-image-to-left-on-mobile
      picture 
        source(media="(min-width: 611px)" srcset="assets/images/about-us-1.png" type="image/png")
        source(srcset="assets/images/about-us-1-mobile.png" type="image/png")
        img.imagesSection__img(src="assets/images/about-us-1.png" alt="")
      img.imagesSection__img-mobile(src="assets/images/about-us-1-mobile.png" alt="")
      .imagesSection__caption Exposure to the talent pool of more than 40,000 workers.
    .imagesSection__item.-image-to-right-on-mobile 
      picture 
        source(media="(min-width: 611px)" srcset="assets/images/about-us-2.png" type="image/png")
        source(srcset="assets/images/about-us-2-mobile.png" type="image/png")
        img.imagesSection__img(src="assets/images/about-us-2.png" alt="")
      img.imagesSection__img-mobile(src="assets/images/about-us-2-mobile.png" alt="")
      .imagesSection__caption Join a huge network of business contacts.