.tabs
  .tabs__scrollWatcher
    .tabs__container
      .tabs__trigger
        span Navigation
        img(src="../assets/images/chevron-right.svg", alt="")
      .tabs__list
        .tabs__item.-active
          span Details
        .tabs__item
          span Map
        .tabs__item
          span Homes
        .tabs__item
          span Gallery
