.tabs
  &__container
    +container

  &__trigger
    display: none

  &__list
    display: flex
    align-items: center
    +max($bp-sm)
      flex-direction: column
      align-items: stretch

  &__item
    background-color: $light-grey
    color: $black-22
    font-size: 12px
    line-height: 1.2
    font-family: "Gotham Bold"
    font-weight: 700
    letter-spacing: 0.1em
    text-transform: uppercase
    padding: 15px 24px
    width: 200px
    text-align: center
    cursor: pointer
    opacity: 0
    transition: opacity 0.3s linear
    +max($bp-sm)
      width: 100%

    &.active
      opacity: 1

    &.-active
      background-color: $black-22
      color: $white

    &:not(:first-child)
      margin-left: 1px

  &.-sticky
    padding-top: 68px
    .tabs__scrollWatcher
      position: fixed
      top: 0
      left: 0
      width: 100%
      background-color: $white
      padding: 27px 0
      z-index: 125

      .tabs__trigger
        +max($bp-md)
          display: flex
          align-items: center
          text-transform: uppercase
          font-size: 12px
          line-height: 1.2
          font-family: "Gotham Bold"
          font-weight: 700
          letter-spacing: 0.1em

          img
            display: block
            margin-left: 8px
            max-width: 12px

          &.-open
            img
              transform: rotate(180deg)

      .tabs__list
        padding-right: 350px
        +max($bp-md)
          display: none
          flex-direction: column
          align-items: center
          &.-open
            display: flex
            padding-top: 20px
            margin-top: -20px
        +max($bp-sm)
          padding-right: 0

      .tabs__item
        background-color: transparent
        padding: 0
        width: auto
        margin-top: 20px
        &:not(:first-child)
          margin-left: 80px
          +max($bp-xlg)
            margin-left: 40px
          +max($bp-md)
            margin-left: 0
        &.-active
          color: $black-22
          span
            position: relative
            &::after
              content: ''
              position: absolute
              left: 0
              bottom: -7px
              height: 2px
              width: 100%
              background-color: $green
