.searchFiltersModal.-open
  .searchFiltersModal__backdrop
  .searchFiltersModal__bg
    .searchFiltersModal__close
      img(src="./assets/images/close-black.svg" alt="")
    .searchFiltersModal__main
      .searchFiltersModal__title Filter projects
      .searchFiltersModal__form
        .searchFiltersModal__control
          label.searchFiltersModal__label Location
          input.searchFiltersModal__input(type="text" name="location" placeholder="Enter city")
        .searchFiltersModal__control
          label.searchFiltersModal__label Home type
          .searchFiltersModal__homeTypes
            .searchFiltersModal__homeType
              input.searchFiltersModal__homeTypeInput#home-type-villa(type="checkbox" name="home-type" value="villa")
              label.searchFiltersModal__homeTypeLabel(for="home-type-villa") Villa
            .searchFiltersModal__homeType
              input.searchFiltersModal__homeTypeInput#home-type-duplex(type="checkbox" name="home-type" value="duplex")
              label.searchFiltersModal__homeTypeLabel(for="home-type-duplex") Duplex
            .searchFiltersModal__homeType
              input.searchFiltersModal__homeTypeInput#home-type-penthouse(type="checkbox" name="home-type" value="penthouse")
              label.searchFiltersModal__homeTypeLabel(for="home-type-penthouse") Penthouse
        .searchFiltersModal__control
          label.searchFiltersModal__label Price range
          .searchFiltersModal__slider
            .searchFiltersModal__tips
              .searchFiltersModal__tip.-lower
              .searchFiltersModal__tipLine -
              .searchFiltersModal__tip.-upper
            .searchFiltersModal__bar(data-start="0" data-end="3000000")
            .searchFiltersModal__barInputs
              input.searchFiltersModal__barInput.-lower(type="hidden" name="price-from")
              input.searchFiltersModal__barInput.-upper(type="hidden" name="price-to")
        .searchFiltersModal__control
          label.searchFiltersModal__label Bedrooms
          .searchFiltersModal__number
            .searchFiltersModal__numberButton
              img(src="./assets/images/minus.svg" alt="")
            .searchFiltersModal__numberPresentation Any
            input.searchFiltersModal__numberInput(type="hidden" name="bedrooms" value="Any" readonly)
            .searchFiltersModal__numberButton
              img(src="./assets/images/plus.svg" alt="")
        .searchFiltersModal__control
          label.searchFiltersModal__label Bathrooms
          .searchFiltersModal__number
            .searchFiltersModal__numberButton
              img(src="./assets/images/minus.svg" alt="")
            .searchFiltersModal__numberPresentation Any
            input.searchFiltersModal__numberInput(type="hidden" name="bathrooms" value="Any" readonly)
            .searchFiltersModal__numberButton
              img(src="./assets/images/plus.svg" alt="")
    .searchFiltersModal__bottom
      .searchFiltersModal__clear Clear
      .searchFiltersModal__resultWrapper
        .searchFiltersModal__result
          span Found:
          span.searchFiltersModal__resultCount 2
        .searchFiltersModal__showButton Show
