.joinOurVipList 
  .joinOurVipList__container 
    include ../customHr/customHr
    .joinOurVipList__title join our vip list 
    .joinOurVipList__box 
      .joinOurVipList__left 
        .joinOurVipList__text Be among the first to purchase a home in this great community coming soon. Join our VIP list to receive the latest information.
        .joinOurVipList__tag main benefits 
        ul.joinOurVipList__list 
          li Pricing Information
          li Site Plan Releases 
          li Home Designs 
      .joinOurVipList__right 
        | // tu poproszę formularz