.joinOurVipList
  display: block
  width: 100%
  padding-bottom: 192px

  +max($bp-md)
    padding-bottom: 64px

  &__container
    +container

  &__left 
    opacity: 0 
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1 

  &__title
    width: 100%
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    color: $black
    padding-bottom: 50px
    opacity: 0 
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1 


    +max($bp-md)
      font-size: 32px
      line-height: 1.37
      padding-bottom: 32px

  &__box
    display: grid
    width: 100%
    grid-template-columns: repeat(2, calc((100% - 166px) /2))
    gap: 166px

    +max($bp-md)
      grid-template-columns: 100%
      gap: 72px

  &__text
    font-weight: 400
    font-size: 24px
    line-height: 1.5
    color: $black
    padding-bottom: 40px

  &__tag
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 12px
    line-height: 1.16
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $purple
    margin-bottom: 25px

  &__list
    position: relative
    list-style-type: none
    padding-left: 28px

    li
      font-weight: 400
      font-size: 18px
      line-height: 1.67
      color: $black-22
      padding-bottom: 15px

      &::before
        display: inline-block
        position: absolute
        content: "\2022"
        color: $purple
        font-weight: bold
        left: 0

      &:last-child
        padding-bottom: 0


  &__right
    padding-left: 13px
    opacity: 0 
    transition: all 0.3s linear 
    transition-delay: 0.4s

    &.active
      opacity: 1 

    +max($bp-md)
      padding-left: 0
    .crmWebToEntityForm
      padding: 0 !important
      max-width: 100% !important

    form
      display: grid
      grid-template-columns: repeat(3, 1fr)

    .zcwf_title
      display: none

    .zcwf_row
      position: relative
      grid-column: 1/4
      margin: 0 0 25px 0 !important

      &:nth-last-of-type(2)
        margin-top: 15px !important
        grid-column: 1/3
        +max($bp-sm)
          grid-column: 1/4
      &:nth-last-of-type(1)
        margin-top: 15px !important
        grid-column: 3/4
        +max($bp-sm)
          grid-column: 1/4

    .zcwf_col_lab
      padding: 0 !important
      margin: 0 !important
      position: absolute
      top: 50%
      transform: translateY(-50%)
      font-family: "Gotham", sans-serif !important
      user-select: none

      label
        font-size: 24px
        line-height: 1.2
        white-space: nowrap

        span
          color: $purple !important

    .zcwf_col_fld
      padding: 0 !important
      margin: 0 !important
      font-family: "Gotham", sans-serif !important
      width: 100% !important

      input[type="text"]
        width: 100% !important
        border-radius: 0 !important
        outline: none
        padding: 15px 0
        font-size: 24px
        line-height: 1.2
        font-family: inherit
        background-color: transparent !important

      textarea
        width: 100% !important
        border-radius: 0 !important
        outline: none
        padding: 15px 0
        font-size: 24px
        line-height: 1.2
        font-family: inherit
        background-color: transparent !important

    .zcwf_lblLeft .zcwf_col_fld input[type="text"],
    .zcwf_lblLeft .zcwf_col_fld textarea,
      border: none !important
      border-bottom: 1px solid #00000080 !important

    .zcwf_privacy
      display: flex
      align-items: center
      flex-wrap: wrap
      padding: 0 !important
      width: 100% !important

      & > div:last-child
        font-size: 18px !important
        padding: 0 !important
        margin-top: 4px
        flex-basis: 100%

    .newCustomchkbox-md
      display: block
      margin-right: 11px

      input[type="checkbox"]
        width: 20px
        height: 20px
        border: 1px solid $alto
        cursor: pointer


    .zcwf_privacy_txt
      color: $grey !important
      font-family: "Brix Sans", sans-serif !important
      font-size: 16px !important
      line-height: 1.2 !important
      padding: 0 !important
      margin: 0 !important

      a
        color: $black !important
        text-decoration: underline

    .zcwf_button[type="submit"]
      font-family: "Gotham Bold", sans-serif !important
      padding: 19px 64px !important
      width: 100%
      max-width: 100% !important
      margin: 0 !important
      background-color: transparent
      border: 1px solid $black
      border-radius: 0
      font-size: 12px
      font-weight: 700
      line-height: 1.2
      text-transform: uppercase
      text-align: center

    .zcwf_button[type="reset"]
      display: none
