.textList
  .textList__container
    .textList__box
      .textList__tag Riyadh villas by tilal homes
      .textList__title Wake up to a new day and!{' '}
        a(href="#") live in the moment
        | !{' '}Nurture your creativity and let your imagination wander. Release your inner child and just be incredibly, unabashedly happy.
      .textList__text Welcome to Riyadh Villas. Where a wide choice of indoor and outdoor attractions, exciting children’s adventures and sunny family memories are part of everyday life.
        br
        br
        |Choose between spacious and naturally lit townhouses in two modern and contemporary designs.
      .textList__tag2 main benefits
      ul.textList__list
        li Great location
        li A clubhouse your children will love
        li Where family living springs to life
