.textList
  display: block
  width: 100%
  padding-bottom: 150px
  overflow-x: hidden

  +max($bp-md)
    padding-bottom: 70px

  &__container
    +container
  &__box
    width: 1000px
    max-width: 100%
    margin: 0 auto
  &__tag
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    letter-spacing: 0.1em
    text-transform: uppercase
    padding-bottom: 25px
    color: $blue
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__text
    font-weight: 400
    font-size: 20px
    line-height: 28px
    padding-bottom: 60px
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

  &__tag2
    font-weight: 400
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $blue
    margin-bottom: 25px
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__list
    position: relative
    list-style-type: none
    padding-left: 28px

    li
      font-weight: 400
      font-size: 20px
      line-height: 30px
      color: $black-22
      padding-bottom: 15px
      opacity: 0
      transition: opacity 0.3s linear
      &.active
        opacity: 1

      &::before
        display: inline-block
        position: absolute
        content: "\2022"
        color: $blue
        font-weight: bold
        left: 0

      &:last-child
        padding-bottom: 0

  &__title
    font-weight: 400
    font-size: 44px
    line-height: 1.2
    color: $black
    padding-bottom: 60px
    color: $black
    opacity: 0
    transition: opacity 0.3s linear

    +max($bp-md)
      font-size: 32px
      line-height: 1.37
      padding-bottom: 40px

    &.active
      opacity: 1

    a
      color: $blue
      text-decoration: none
      cursor: pointer
      border-bottom: 1px solid $blue
      line-height: 1

      &:hover
        color: $blue
        text-decoration: none
        border-bottom: 0

  &__buttonWrapper
    margin-top: 20px
    display: flex
    justify-content: center
    width: 100%
    opacity: 0
    transition: opacity 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

  &__button
    padding: 16px 36px
    background-color: $purple
    border-radius: 8px
    color: $white
    font-size: 14px
    line-height: 18px
