.investmentMap
  display: flex
  flex-direction: column
  padding-bottom: 150px

  +max($bp-md)
    padding-bottom: 70px

  &__title
    +container
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    color: $black
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s
    margin-bottom: 40px

    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__map
    max-width: 100%
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s
    overflow: hidden

    &.active
      opacity: 1

    img
      display: block
      width: 100%

  &__mapPlace
    min-width: 100%
    height: 850px
    position: relative

    +max($bp-lg)
      width: 110%

    +max($bp-md)
      height: 400px
      //width: 2100px
      //transform: translateX(-40%)

  &__placeholder
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #efefef

    &.-hidden
      opacity: 0
      z-index: -1

    &::before
      content: ''
      background-color: #fff
      opacity: 0.7
      filter: blur(15px)
      width: 150px
      height: 100%
      position: absolute
      top: 0
      left: -75px
      transform: skewX(-15deg)
      animation: shine 1s infinite linear

  .gm-ui-hover-effect
    display: none !important

  .gm-style iframe + div
    border: none !important

@keyframes shine
  0%
    left: -75px
  100%
    left: calc(100% + 75px)
