.iconTextGrid
  +container
  display: flex
  flex-direction: column
  margin-bottom: 100px
  +max($bp-sm)
    margin-bottom: 60px

  &__grid
    display: grid
    grid-template-columns: 100%
    gap: 80px
    margin: 0 auto 
    max-width: 1000px

  &__item
    display: flex
    flex-direction: column

  &__icon
    display: block
    width: 100%
    max-width: 48px
    margin-bottom: 12px
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

  &__title
    font-weight: 700
    font-size: 28px
    line-height: 1.25
    text-transform: uppercase
    color: $green
    margin-bottom: 24px
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

  &__text
    font-weight: 400
    font-size: 18px
    line-height: 1.2
    color: $black
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

    ul
      list-style-type: disc
      list-style-position: inside

    li::marker
      color: $green


