.promiseSection
  display: block
  width: 100%
  padding-bottom: 150px
  overflow-x: hidden


  +max($bp-md)
    padding-bottom: 70px

  &__container
    +container

  &__box
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    margin: 0 auto 
    max-width: 1200px

  &__title
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 44px
    line-height: 1.2
    text-transform: uppercase
    margin-bottom: 50px
    color: $black
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

    +max($bp-md)
      font-size: 32px
      line-height: 1.37

  &__items
    display: grid
    width: 100%
    grid-template-columns: repeat(3, 1fr)
    gap: 40px
    padding-bottom: 110px

    +max($bp-md)
      padding-bottom: 70px

    +max($bp-sm)
      grid-template-columns: 100%
      gap: 80px

  &__imageSection
    display: grid
    width: 100%
    max-width: 1600px
    margin: 0 auto
    grid-template-columns: 55.6% 44.4%

    +max($bp-md)
      grid-template-columns: 100%

  &__image
    opacity: 0
    transition: all 0.8s cubic-bezier(0.33, 1, 0.68, 1)
    transition-delay: 0.4s
    transform: translateX(-100%)

    &.active
      opacity: 1
      transform: none !important


    +max($bp-md)
      padding-right: 80px

    picture
      display: block
      max-width: 100%
    img
      display: block
      max-width: 100%

    &.-second
      padding-top: 280px
      transform: translateX(100%)

      +max($bp-xxlg)
        padding-top: 170px

      +max($bp-md)
        padding-top: 0
        justify-self: end
        padding-left: 80px
        padding-right: 0

  &__slogan
    color: $black
    font-size: 24px
    line-height: 30px
    font-style: italic
    text-align: center
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s
    +max($bp-sm)
      font-size: 16px
      line-height: 20px

    &.active
      opacity: 1
