.videoTour
  display: block
  width: 100%
  padding-bottom: 150px
  overflow-x: hidden

  +max($bp-md)
    padding-bottom: 70px

  &__container
    +container

  &__video
    margin-bottom: 35px
    position: relative

  &__player
    width: 100%
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

  &__text
    font-weight: 400
    font-size: 20px
    line-height: 28px
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1

  &__button
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    cursor: pointer
    content: url("../images/playButton.svg")
    opacity: 0
    transition: opacity 0.3s linear
    &.active
      opacity: 1
