.videoTour
  .videoTour__container
    .videoTour__video
      video.videoTour__player( width="1400" id="video" height="auto" playsinline loop src="./assets/images/tourVideo.mp4")
        |  Your browser does not support the video tag.
      .videoTour__button(type="button" id="play_button")
    .videoTour__text Video showing tour on our investment

