.aboutContent
  display: block
  width: 100%
  padding-bottom: 150px
  overflow-x: hidden

  +max($bp-md)
    padding-top: 18px
    padding-bottom: 88px

  &__container
    +container
    position: relative
    display: flex
    justify-content: flex-end
    overflow: hidden

    &.-centerText
      justify-content: center

  &__box
    display: block
    width: 904px
    max-width: 100%
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1

    &:first-child
      width: 1000px

    div
      position: relative

  &__tag
    font-weight: 700
    font-family: "Gotham Bold"
    font-size: 32px
    line-height: 1.16
    letter-spacing: 0.1em
    text-transform: uppercase
    padding-bottom: 25px
    color: $blue

  &__text
    font-weight: 400
    font-size: 44px
    line-height: 1.2
    color: $black
    padding-bottom: 100px
    color: $black
    opacity: 0
    transition: all 0.3s linear
    transition-delay: 0.4s

    &.active
      opacity: 1


    a
      color: $blue
      text-decoration: none
      cursor: pointer
      border-bottom: 1px solid $blue
      line-height: 1

      &:hover
        color: $blue
        text-decoration: none
        border-bottom: 0

    +max($bp-md)
      font-size: 32px
      line-height: 1.37
      padding-bottom: 56px

      &:last-child
        padding-bottom: 0

    &:last-child
      padding-bottom: 0
