.detailsGrid
  include ../customHr/customHr
  .detailsGrid__grid
    .detailsGrid__item
      .detailsGrid__textBox
        .detailsGrid__title 200+ Villas
        .detailsGrid__text Across the Community
      .detailsGrid__icon
        img(src="./assets/images/close-grey.svg" alt="")
    .detailsGrid__item
      .detailsGrid__textBox
        .detailsGrid__title 200+ Villas
        .detailsGrid__text Across the Community
      .detailsGrid__icon
        img(src="./assets/images/close-grey.svg" alt="")
    .detailsGrid__item
      .detailsGrid__textBox
        .detailsGrid__title 200+ Villas
        .detailsGrid__text Across the Community
      .detailsGrid__icon
        img(src="./assets/images/close-grey.svg" alt="")
    .detailsGrid__item
      .detailsGrid__textBox
        .detailsGrid__title 200+ Villas
        .detailsGrid__text Across the Community
      .detailsGrid__icon
        img(src="./assets/images/close-grey.svg" alt="")
    .detailsGrid__item
      .detailsGrid__textBox
        .detailsGrid__title 200+ Villas
        .detailsGrid__text Across the Community
      .detailsGrid__icon
        img(src="./assets/images/close-grey.svg" alt="")
