.detailsGrid
  +container
  padding-bottom: 150px

  +max($bp-md)
    padding-bottom: 70px

  &__grid
    display: flex
    flex-wrap: wrap
    margin-top: -40px
    +max($bp-lg)
      justify-content: center
    +max($bp-sm)
      margin-top: 0

  &__item
    display: flex
    flex-direction: column
    border-left: 1px solid $light-grey
    min-height: 150px
    padding: 0 24px
    margin-top: 40px
    flex-basis: 20%
    opacity: 0
    transition: opacity 0.3s linear

    &.active
      opacity: 1

    +max($bp-lg)
      flex-basis: calc(100% / 3)

    +max($bp-sm)
      margin-top: 0
      flex-basis: 100%
      border-left: 0
      padding: 24px 0
      border-top: 1px solid $light-grey
      align-items: center
      text-align: center

  &__textBox
    flex: 1

  &__title
    color: $black
    font-size: 18px
    line-height: 1.45

  &__text
    color: $grey
    font-size: 16px
    line-height: 1.63
    margin-bottom: 8px

  &__icon
    max-width: 24px
    img
      display: block
      width: 100%
